Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2023-10, with the labels that each got.

#180 SIT-2 Release [dev] [v0.1.x]
  .github/workflows/release.yml
Labels: Release

#178 New SWE test and validation data
  imap_processing/swe/l1a/swe_l1a.py
  imap_processing/swe/l1a/swe_science.py
  imap_processing/swe/packet_definitions/swe_packet_definition.xml
  imap_processing/swe/tests/20230927100248_SWE_HK_packet.bin
  imap_processing/swe/tests/20230927100412_SWE_HK_packet.bin
  imap_processing/swe/tests/20230927100425_SWE_CEM_RAW_packet.bin
  imap_processing/swe/tests/20230927100426_SWE_CEM_RAW_packet.bin
  imap_processing/swe/tests/data_derived.SWE_APP_HK_20230927_094839.csv
  imap_processing/swe/tests/data_raw.SWE_APP_HK_20230927_094839.csv
  imap_processing/swe/tests/data_raw.SWE_CEM_RAW_20230927_094839.csv
  imap_processing/swe/tests/decompressed/20230927173238_4th_quarter_decompressed.csv
  imap_processing/swe/tests/decompressed/20230927173253_1st_quarter_decompressed.csv
  imap_processing/swe/tests/decompressed/20230927173308_2nd_quarter_decompressed.csv
  imap_processing/swe/tests/decompressed/20230927173323_3rd_quarter_decompressed.csv
  imap_processing/swe/tests/science_packets/20230927173238_SWE_SCIENCE_packet.bin
  imap_processing/swe/tests/science_packets/20230927173253_SWE_SCIENCE_packet.bin
  imap_processing/swe/tests/science_packets/20230927173308_SWE_SCIENCE_packet.bin
  imap_processing/swe/tests/science_packets/20230927173323_SWE_SCIENCE_packet.bin
  imap_processing/swe/tests/science_packets/idle_export_eu.SWE_SCIENCE_20230927_172708.csv
  imap_processing/swe/tests/science_packets/idle_export_raw.SWE_SCIENCE_20230927_172708.csv
  imap_processing/swe/tests/test_decom.py
  imap_processing/swe/tests/test_swe_cem_raw.py
  imap_processing/swe/tests/test_swe_housekeeping.py
  imap_processing/swe/tests/test_swe_science.py
  poetry.lock
Labels: SWE, L1

#175 Glows Decom work
  docs/source/reference/glows.rst
  docs/source/reference/index.rst
  imap_processing/glows/__init__.py
  imap_processing/glows/l0/__init__.py
  imap_processing/glows/l0/decom_glows.py
  imap_processing/glows/l0/glows_l0_data.py
  imap_processing/glows/packet_definitions/GLX_COMBINED.xml
  imap_processing/glows/packet_definitions/P_GLX_TMSCDE.xml
  imap_processing/glows/packet_definitions/P_GLX_TMSCHIST.xml
  imap_processing/glows/tests/glows_test_packet_20230920_v00.pkts
  imap_processing/glows/tests/test_glows_decom.py
  poetry.lock
  tools/xtce_generation/telemetry_generator.py
  tools/xtce_generation/xtce_generator_glows.py
Labels: GLOWS

#185 Fixed xtce typo and updated codice xtce files
  imap_processing/codice/packet_definitions/P_COD_HI_INSTRUMENT_COUNTERS.xml
  imap_processing/codice/packet_definitions/P_COD_HI_OMNI_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_HI_PHA.xml
  imap_processing/codice/packet_definitions/P_COD_HI_SECT_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_INSTRUMENT_COUNTERS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_PHA.xml
  imap_processing/codice/packet_definitions/P_COD_LO_PRIORITY_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_NHK.xml
  tools/xtce_generation/ccsds-header.xml
  tools/xtce_generation/ccsds_header_xtce_generator.py
  tools/xtce_generation/generate_ccsds_header_xml.py
  tools/xtce_generation/telemetry_generator.py
Labels: L0

#245 MNT: Updating settings for codecov
  .github/workflows/test.yml
  codecov.yml
  poetry.lock
  pyproject.toml
Labels: testing

#257 Update release workflow to reflect use of 'version' branches
  docs/source/_static/git-workflow.png
  docs/source/development/release-workflow.rst
  docs/source/development/style-guide/git-and-github-workflow.rst
Labels: documentation

#176 Housekeeping data testing and validation for CoDICE l0
  docs/source/conf.py
  imap_processing/codice/RAW.bin
  imap_processing/codice/decom.py
  imap_processing/codice/l0/__init__.py
  imap_processing/codice/l0/decom_codice.py
  imap_processing/codice/packet_definitions/P_COD_NHK.xml
  imap_processing/codice/tests/data/idle_export_raw.COD_NHK_20230822_122700.csv
  imap_processing/codice/tests/data/raw_ccsds_20230822_122700Z_idle.bin
  imap_processing/codice/tests/test_bin_data.py
  imap_processing/codice/tests/test_decom.py
Labels: CoDICE, L1
