Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2023-09, with the labels that each got.

#106 Adding CoDICE Event data + Species counts packet definitions for L0
  imap_processing/codice/L0/example_xtce.xml
  imap_processing/codice/L0/hi_pha.py
  imap_processing/codice/L0/lo_pha.py
  imap_processing/codice/L0/nsw_species_counts.py
  imap_processing/codice/L0/omni_species_counts.py
  imap_processing/codice/L0/sw_species_counts.py
  imap_processing/codice/make_xtce.py
  imap_processing/packet_definitions/codice/hi_pha.xml
  imap_processing/packet_definitions/codice/lo_nsw_species_counts.xml
  imap_processing/packet_definitions/codice/lo_pha.xml
  imap_processing/packet_definitions/codice/lo_sw_species_counts.xml
  imap_processing/packet_definitions/codice/omni_species_counts.xml
  tools/xtce_generation/telemetry_generator.py
Labels: CoDICE, L0

#160 Added rest of SWE packet definitions
  imap_processing/swe/packet_definitions/swe_packet_definition.xml
  imap_processing/swe/tests/test_decom.py
  poetry.lock
  tools/xtce_generation/xtce_generator_swe.py
Labels: SWE, L0

#173 Updated xtce files with updated xtce-generator
  imap_processing/codice/packet_definitions/P_COD_HI_INSTRUMENT_COUNTERS.xml
  imap_processing/codice/packet_definitions/P_COD_HI_OMNI_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_HI_PHA.xml
  imap_processing/codice/packet_definitions/P_COD_HI_SECT_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_INSTRUMENT_COUNTERS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_PHA.xml
  imap_processing/codice/packet_definitions/P_COD_LO_PRIORITY_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_NHK.xml
Labels: CoDICE

#171 DOC: Add autosummary templates and update docstrings for code
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  docs/source/_templates/autosummary.rst
  docs/source/conf.py
  docs/source/project-management/requirement-and-issue-tracking.rst
  docs/source/project-management/sdc-sit-plan.rst
  docs/source/reference/index.rst
  docs/source/reference/swe.rst
  imap_processing/decom.py
  imap_processing/swe/l0/decom_swe.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/tests/unit/conftest.py
  imap_processing/ultra/tests/unit/data_path_fixtures.py
  imap_processing/ultra/tests/unit/test_decom_apid_880.py
  imap_processing/ultra/tests/unit/test_decom_apid_881.py
  poetry.lock
  pyproject.toml
Labels: documentation
