Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2023-11, with the labels that each got.

#278 CoDICE decompression algorithms for science data
  imap_processing/codice/l0/decompress_codice.py
  imap_processing/codice/tests/test_decompress_codice.py
  imap_processing/codice/utils/__init__.py
  imap_processing/codice/utils/codice_utils.py
  imap_processing/codice/utils/constants.py
Labels: CoDICE, L1

#282 IMAP-Hi XTCE and initial Decom work
  imap_processing/hi/__init__.py
  imap_processing/hi/packet_definitions/H45_APP_NHK.xml
  imap_processing/hi/packet_definitions/H45_SCI_CNT.xml
  imap_processing/hi/packet_definitions/H45_SCI_DE.xml
  imap_processing/hi/packet_definitions/__init__.py
  imap_processing/hi/tests/__init__.py
  imap_processing/hi/tests/l0_test_data/20231030_H45_APP_NHK.bin
  imap_processing/hi/tests/l0_test_data/20231030_H45_SCI_CNT.bin
  imap_processing/hi/tests/l0_test_data/20231030_H45_SCI_DE.bin
  imap_processing/hi/tests/l0_test_data/README.txt
  imap_processing/hi/tests/l0_validation_data/20231030_H45_APP_NHK.csv
  imap_processing/hi/tests/test_decom.py
  tools/xtce_generation/xtce_generator_hi.py
Labels: IMAP-Hi

#283 updates to IMAP-Hi and SWE's document
  docs/source/reference/hi.rst
  docs/source/reference/index.rst
  docs/source/reference/swe.rst
  imap_processing/swe/l1a/swe_science.py
  imap_processing/swe/l1b/swe_l1b.py
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/swe/tests/test_swe_l1b.py
Labels: documentation, SWE, IMAP-Hi

#285 Add CoDICE API reference docs
  docs/source/reference/codice.rst
  docs/source/reference/index.rst
  imap_processing/codice/l0/decompress_codice.py
Labels: documentation, CoDICE

#284 CI: Update codecov to target 90% for the project
  codecov.yml
Labels: testing

#286 Doc configuration updates
  .github/workflows/docs.yml
  docs/source/conf.py
Labels: documentation

#288 Initial CoDICE L1A Processing Algorithm
  docs/Makefile
  docs/source/conf.py
  docs/source/reference/codice.rst
  imap_processing/cdf/utils.py
  imap_processing/codice/__init__.py
  imap_processing/codice/cdf_attrs.py
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/decompress.py
  imap_processing/codice/l0/__init__.py
  imap_processing/codice/l0/decom_codice.py
  imap_processing/codice/tests/test_codice_l0.py
  imap_processing/codice/tests/test_codice_l1a.py
  imap_processing/codice/tests/test_decompress.py
  imap_processing/codice/utils.py
  imap_processing/codice/utils/__init__.py
  imap_processing/codice/utils/codice_utils.py
  poetry.lock
Labels: CoDICE, L1
