Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2024-11, with the labels that each got.

#1114 Small bug fix - MAG
  imap_processing/mag/l0/decom_mag.py
Labels: Ins: MAG

#1103 SWE: L1B validation data
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/tests/swe/conftest.py
  imap_processing/tests/swe/l1_validation/swe_l0_unpacked-data_20240510_v001_VALIDATION_L1B_v3.dat
  imap_processing/tests/swe/test_swe_l1b.py
Labels: Ins: SWE, Level: L1

#1102 865 hi l1b spin phase
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/tests/conftest.py
  imap_processing/tests/hi/test_data/l1a/imap_hi_l1a_45sensor-de_20250415_v000.cdf
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/spice/test_geometry.py
Labels: Ins: Hi

#1120 All Contributors cleanup
  README.md
Labels: Repo: Documentation

#1116 Add calculation of Hi L1B nominal_bin
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/tests/hi/test_hi_l1b.py
Labels: Ins: Hi

#1121 Add some more notes to the release workflow
  docs/source/development-guide/release-workflow.rst
Labels: Repo: Documentation

#1123 Small update CoDICE and IDEX data product naming conventions
  docs/source/development-guide/style-guide/naming-conventions.rst
  imap_processing/__init__.py
Labels: Repo: Documentation, Ins: CoDICE, Ins: IDEX

#1117 Updates to MAG L1B to scale based on compression flags
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/mag/test_mag_l1b.py
Labels: Ins: MAG, Level: L1

#1137 update link on documentation
  docs/source/development-guide/getting-started.rst
Labels: Repo: Documentation

#1122 Switch to using SAMMI for CDF attribute management
  imap_processing/cdf/cdf_attribute_manager.py
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_variable_schema.yaml
  imap_processing/cdf/config/shared/default_global_cdf_attrs_schema.yaml
  imap_processing/cdf/config/shared/default_variable_cdf_attrs_schema.yaml
  imap_processing/cdf/imap_cdf_manager.py
  imap_processing/hi/l1a/histogram.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/hi/utils.py
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swapi/l2/swapi_l2.py
  imap_processing/tests/cdf/shared/default_global_cdf_attrs_schema.yaml
  imap_processing/tests/cdf/shared/default_variable_cdf_attrs_schema.yaml
  imap_processing/tests/cdf/test_cdf_attribute_manager.py
  imap_processing/tests/cdf/test_imap_cdf_manager.py
  imap_processing/tests/hi/test_utils.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/hit/test_hit_l1b.py
  poetry.lock
  pyproject.toml
Labels: CDF

#879 Documentation for Work Management Process
  docs/source/_static/high-level-task.png
  docs/source/project-management/index.rst
  docs/source/project-management/requirement-and-issue-tracking.rst
  docs/source/project-management/sdc-sit-plan.rst
  docs/source/project-management/work-management.rst
Labels: Repo: Documentation

#1142 Fixing mag tests, removing temp fix
  imap_processing/mag/l0/decom_mag.py
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/mag/imap_mag_l1a_burst-magi_20231025_v001.cdf
  imap_processing/tests/mag/imap_mag_l1a_norm-magi_20251017_v001.cdf
  imap_processing/tests/mag/test_mag_l1b.py
Labels: Ins: MAG

#1144 Removed Lo DE segmented packet string commas
  imap_processing/lo/l0/lo_science.py
  imap_processing/tests/lo/test_lo_science.py
Labels: Ins: Lo, Level: L0

#1146 Add placeholder function for converting from esa_step to esa_energy_step
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/tests/hi/test_hi_l1b.py
Labels: Ins: Hi

#1160 HIT L0 - subcommutate sector rates
  imap_processing/hit/l0/constants.py
  imap_processing/hit/l0/decom_hit.py
  imap_processing/tests/hit/test_decom_hit.py
Labels: Ins: HIT, Level: L0

#1167 Update Lo DE Case Decoder for 4, 1 TOF2
  imap_processing/lo/l0/decompression_tables/decompression_tables.py
Labels: bug, Ins: Lo, Level: L0

#1159 Add Hexadecimal state handling to excel_to_xtce
  imap_processing/ccsds/excel_to_xtce.py
  imap_processing/tests/ccsds/test_data/expected_output.xml
  imap_processing/tests/ccsds/test_excel_to_xtce.py
Labels: enhancement, packet parsing

#1156 Glows L2 initial setup
  imap_processing/cdf/config/imap_glows_l1b_variable_attrs.yaml
  imap_processing/glows/l1b/glows_l1b.py
  imap_processing/glows/l1b/glows_l1b_data.py
  imap_processing/glows/l2/glows_l2_data.py
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/glows/conftest.py
  imap_processing/tests/glows/test_glows_l1b.py
  imap_processing/tests/glows/test_glows_l1b_data.py
  imap_processing/tests/glows/test_glows_l2_data.py
Labels: Ins: GLOWS

#1173 Mag l1b CDF cleanup
  imap_processing/cdf/config/imap_mag_l1_variable_attrs.yaml
  imap_processing/mag/l0/decom_mag.py
  imap_processing/mag/l1a/mag_l1a.py
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/mag/test_mag_l1b.py
Labels: Ins: MAG

#1081 Ultra: Updates to annotated events and create l1b cdf.
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/tests/ultra/unit/test_de.py
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_annotated.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/ultra_l1b_annotated.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
Labels: Ins: Ultra, Level: L1, SPICE

#1059 Ultra l1c pset updates
  imap_processing/spice/geometry.py
  imap_processing/tests/spice/test_data/imap_ena_sim_metakernel.template
  imap_processing/tests/spice/test_geometry.py
  imap_processing/tests/ultra/test_data/l1/dps_exposure_helio_45_E12.cdf
  imap_processing/tests/ultra/test_data/l1/dps_exposure_helio_45_E24.cdf
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
Labels: Ins: Ultra, Level: L1, SPICE

#1179 CDF document updates
  docs/source/external-tools/cdf/cdf_introduction.rst
  docs/source/external-tools/cdf/cdf_requirements.rst
Labels: enhancement, CDF

#1169 HIT L0 - data decompression
  imap_processing/hit/l0/constants.py
  imap_processing/hit/l0/decom_hit.py
  imap_processing/tests/hit/test_decom_hit.py
Labels: Ins: HIT, Level: L0

#1181 Update IDEX l1a and l0 tests to work with new l0 test data
  imap_processing/cdf/config/imap_idex_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_idex_l1a_variable_attrs.yaml
  imap_processing/idex/idex_l1a.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/imap_idex_l0_raw_20230725_v001.pkts
  imap_processing/tests/idex/imap_idex_l0_raw_20231214_v001.pkts
  imap_processing/tests/idex/impact_14_tof_high_data.txt
  imap_processing/tests/idex/test_idex_l0.py
  imap_processing/tests/idex/test_idex_l1a.py
  imap_processing/tests/test_utils.py
Labels: Ins: IDEX, Repo: Testing, CDF

#1172 1147 hi l1c add calibration product coordinate to pset
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/hi/test_utils.py
Labels: Ins: Hi

#1189 Mag calibration fix
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/mag/test_mag_l1b.py
Labels: bug, Ins: MAG
