Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2024-10, with the labels that each got.

#901 Fixed Lo DE unpacking scheme
  imap_processing/lo/l0/decompression_tables/decompression_tables.py
  imap_processing/tests/lo/test_science_direct_events.py
Labels: bug, Ins: Lo, Level: L0

#875 Add Ultra spatial and energy binning equations.
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
Labels: Ins: Ultra

#967 Ultra: Added exposure time for pointing frame
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
  imap_processing/ultra/lookup_tables/dps_grid45_compressed.cdf
  poetry.lock
  pyproject.toml
Labels: Ins: Ultra

#921 Updated New Lo Histogram Decompression Tables
  imap_processing/lo/l0/decompression_tables/12_to_16_bit.csv
  imap_processing/lo/l0/decompression_tables/8_to_12_bit.csv
  imap_processing/lo/l0/decompression_tables/8_to_16_bit.csv
  imap_processing/lo/l0/decompression_tables/log10_12_to_16_bit_uncompress.csv
  imap_processing/lo/l0/decompression_tables/log10_8_to_12_bit_uncompress.csv
  imap_processing/lo/l0/decompression_tables/log10_8_to_16_bit_uncompress.csv
  imap_processing/lo/l0/utils/bit_decompression.py
  imap_processing/tests/lo/test_bit_decompression.py
  imap_processing/tests/lo/test_science_counts.py
Labels: Ins: Lo, Level: L0, Level: L1

#969 Extract L1B DE function for better code modularization
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/hi/utils.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/hi/test_utils.py
Labels: Ins: Hi

#881 SWE L1 Improvement to store acquisition time of each measurement
  imap_processing/cdf/config/imap_swe_l1b_variable_attrs.yaml
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/tests/swe/test_swe_l1b.py
Labels: Ins: SWE, Level: L1

#971 Lo L1A Direct Event Refactor
  imap_processing/lo/l0/data_classes/science_direct_events.py
  imap_processing/lo/l0/decompression_tables/decompression_tables.py
  imap_processing/lo/l0/lo_science.py
  imap_processing/tests/lo/test_lo_science.py
  imap_processing/tests/lo/test_science_direct_events.py
Labels: Ins: Lo, Level: L0, Level: L1

#991 MNT: Cdflib update
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_glows_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/cdf/config/imap_mag_l1_variable_attrs.yaml
  imap_processing/cdf/config/imap_swe_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_swe_l1b_variable_attrs.yaml
  imap_processing/cdf/config/shared/default_variable_cdf_attrs_schema.yaml
  imap_processing/glows/l1b/glows_l1b.py
  imap_processing/hi/l1a/histogram.py
  imap_processing/mag/l0/decom_mag.py
  imap_processing/tests/codice/test_codice_l1a.py
  imap_processing/tests/hi/test_l1a.py
  imap_processing/tests/mag/test_mag_l1b.py
  poetry.lock
  pyproject.toml
Labels: bug, enhancement, CDF

#995 864 hi l1b compute coincidence type and time deltas
  docs/source/conf.py
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/hi/utils.py
  imap_processing/tests/hi/test_hi_l1b.py
Labels: Ins: Hi, Level: L1

#1010 Add spice module to documentation
  docs/Makefile
  docs/source/code-documentation/index.rst
  docs/source/code-documentation/spice.rst
  docs/source/conf.py
  imap_processing/spice/geometry.py
  imap_processing/spice/kernels.py
  imap_processing/spice/time.py
Labels: Repo: Documentation

#1021 1020 bug get spacecraft spin phase always returns nans
  imap_processing/spice/geometry.py
  imap_processing/tests/spice/test_data/fake_spin_data.csv
  imap_processing/tests/spice/test_geometry.py
Labels: SPICE

#1022 1019 calculate instrument spin phase
  imap_processing/spice/geometry.py
  imap_processing/tests/spice/test_geometry.py
Labels: SPICE

#1007 MNT: space_packet_parser update
  imap_processing/ccsds/ccsds_data.py
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/utils.py
  imap_processing/decom.py
  imap_processing/glows/l0/decom_glows.py
  imap_processing/glows/l0/glows_l0_data.py
  imap_processing/hi/l1a/histogram.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/hit/l0/data_classes/housekeeping.py
  imap_processing/hit/l0/decom_hit.py
  imap_processing/hit/l0/utils/hit_base.py
  imap_processing/idex/idex_l1a.py
  imap_processing/lo/l0/data_classes/star_sensor.py
  imap_processing/lo/l0/lo_science.py
  imap_processing/lo/l0/utils/lo_base.py
  imap_processing/mag/l0/decom_mag.py
  imap_processing/mag/l0/mag_l0_data.py
  imap_processing/swe/l1a/swe_science.py
  imap_processing/tests/glows/test_glows_decom.py
  imap_processing/tests/ialirt/unit/test_decom_ialirt.py
  imap_processing/tests/swapi/test_swapi_decom.py
  imap_processing/tests/ultra/unit/test_decom_apid_880.py
  imap_processing/ultra/l0/decom_tools.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/utils.py
  poetry.lock
  pyproject.toml
Labels: enhancement, CDF

#1032 867 hi l1b compute hae latitude and longitude
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/tests/conftest.py
  imap_processing/tests/hi/conftest.py
  imap_processing/tests/hi/test_data/l1a/imap_hi_l1a_45sensor-de_20250415_v000.cdf
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/spice/test_data/imap_ena_sim_metakernel.template
  imap_processing/tests/spice/test_geometry.py
Labels: Ins: Hi

#1038 swe l1a validation data
  imap_processing/tests/swe/conftest.py
  imap_processing/tests/swe/decompressed/20230927173238_4th_quarter_decompressed.csv
  imap_processing/tests/swe/decompressed/20230927173253_1st_quarter_decompressed.csv
  imap_processing/tests/swe/decompressed/20230927173308_2nd_quarter_decompressed.csv
  imap_processing/tests/swe/decompressed/20230927173323_3rd_quarter_decompressed.csv
  imap_processing/tests/swe/l1_validation/swe_l0_unpacked-data_20240510_v001_VALIDATION_L1A.dat
  imap_processing/tests/swe/test_swe_l1a_science.py
Labels: Ins: SWE, Level: L1

#1042 SWAPI: rename CDF variable names to match algorithm document
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swapi/l2/swapi_l2.py
  imap_processing/tests/swapi/test_swapi_l1.py
  imap_processing/tests/swapi/test_swapi_l2.py
Labels: Ins: SWAPI

#1040 Ultra PSET Spacecraft Frame + PSET Helio Frame Exposure Times
  imap_processing/tests/ultra/test_data/l1/dps_exposure_helio_45_E1.cdf
  imap_processing/tests/ultra/test_data/l1/dps_exposure_helio_45_E12.cdf
  imap_processing/tests/ultra/test_data/l1/dps_exposure_helio_45_E24.cdf
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
  imap_processing/ultra/lookup_tables/dps_sensitivity45.cdf
Labels: Ins: Ultra, Level: L1

#989 Update Ultra l1b Annotated
  imap_processing/tests/ultra/unit/test_ultra_l1b_annotated.py
  imap_processing/ultra/l1b/ultra_l1b_annotated.py
Labels: Ins: Ultra, SPICE

#1044 1026 logical source parser
  imap_processing/cdf/utils.py
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/hi/utils.py
  imap_processing/tests/cdf/test_utils.py
  imap_processing/tests/hi/test_utils.py
Labels: Ins: Hi

#1041 SWE: calculate phase space density
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/swe/l2/swe_l2.py
  imap_processing/swe/utils/swe_utils.py
  imap_processing/tests/swe/test_swe_l2.py
Labels: Ins: SWE, Level: L2

#1043 SWAPI: Add additional support data to SWAPI L1 and L2
  imap_processing/cdf/config/imap_swapi_variable_attrs.yaml
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swapi/l2/swapi_l2.py
  imap_processing/tests/swapi/test_swapi_l1.py
Labels: Ins: SWAPI

#1054 1045 hi l1b modify processing workflow to use xarraydatasetupdate
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/tests/hi/test_hi_l1b.py
Labels: Ins: Hi, CDF

#1082 Mag l1a compression fixes
  imap_processing/cdf/config/imap_mag_l1_variable_attrs.yaml
  imap_processing/mag/l1a/mag_l1a.py
  imap_processing/mag/l1a/mag_l1a_data.py
  imap_processing/tests/mag/test_mag_l1a.py
Labels: Ins: MAG

#1080 Add function for getting basis vectors from spice
  imap_processing/spice/geometry.py
  imap_processing/tests/spice/test_geometry.py
Labels: SPICE
