Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2024-03, with the labels that each got.

#353 Update decom for APID 881 due to changes in packet definitions
  imap_processing/tests/ultra/unit/test_decom_apid_881.py
  imap_processing/tests/ultra/unit/test_decom_apid_896.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l0/ultra_utils.py
Labels: IMAP-Ultra

#339 Lo SciDE data class fix - multiple DEs in a packet
  imap_processing/lo/l0/science_direct_events.py
  imap_processing/tests/lo/test_science_direct_events.py
Labels: IMAP-Lo, L1

#358 Updated naming and data product versioning conventions
  docs/source/development-guide/style-guide/naming-conventions.rst
  docs/source/development-guide/style-guide/versioning.rst
Labels: documentation

#360 TST: Rely on temp directory for test file cleanup
  imap_processing/tests/swe/test_swe_l1a.py
  imap_processing/tests/swe/test_swe_l1b.py
Labels: SWE, testing

#356 Added l1a cdf generation for all apids
  imap_processing/cdf/utils.py
  imap_processing/tests/ultra/unit/test_decom_apid_883.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/ultra_cdf_attrs.py
Labels: IMAP-Ultra, L1

#363 MNT: Update file naming convention via imap-data-access upgrade
  docs/source/code-documentation/tools/xarray-to-cdf.rst
  imap_processing/cdf/global_attrs.py
  imap_processing/cdf/utils.py
  imap_processing/cli.py
  imap_processing/codice/cdf_attrs.py
  imap_processing/codice/codice_l1a.py
  imap_processing/idex/idex_cdf_attrs.py
  imap_processing/idex/idex_packet_parser.py
  imap_processing/mag/mag_cdf_attrs.py
  imap_processing/swe/__init__.py
  imap_processing/swe/l1a/swe_l1a.py
  imap_processing/swe/l1b/swe_l1b.py
  imap_processing/swe/swe_cdf_attrs.py
  imap_processing/tests/cdf/test_utils.py
  imap_processing/tests/codice/test_codice_l1a.py
  imap_processing/tests/idex/test_l1_cdfs.py
  imap_processing/tests/swe/test_swe_l1a.py
  imap_processing/tests/swe/test_swe_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/ultra_cdf_attrs.py
  poetry.lock
  pyproject.toml
Labels: Parent Req: CDF File Format

#300 Initial CoDICE L1a algorithm for lo-sw-species data
  imap_processing/codice/__init__.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/data/esa_sweep_values.csv
  imap_processing/codice/data/lo_stepping_values.csv
  imap_processing/codice/decompress.py
  imap_processing/codice/utils.py
  imap_processing/tests/codice/test_codice_l0.py
  imap_processing/tests/codice/test_codice_l1a.py
  poetry.lock
Labels: CoDICE, L1

#368 Update documentation variable names
  .gitignore
  docs/source/external-tools/cdf/cdf_requirements.rst
Labels: documentation

#372 Various fixes and improvements to CDF documentation
  docs/source/code-documentation/tools/xarray-to-cdf.rst
  docs/source/external-tools/cdf/cdf_introduction.rst
  docs/source/external-tools/cdf/cdf_requirements.rst
  docs/source/external-tools/cdf/cdf_verification.rst
Labels: documentation

#375 MNT: Change default display_type to be no_plot
  imap_processing/cdf/global_attrs.py
  imap_processing/tests/cdf/test_attr_classes.py
  imap_processing/tests/idex/test_l1_cdfs.py
Labels: IDEX, testing

#373 MNT: Remove unused extra test file
  imap_processing/tests/cdf/imap_swe_l1_test_20100101_20100101_v01.cdf
Labels: testing

#381 MNT: Remove unused extra file
  imap_processing/tests/imap_swe_l1_test_20100101_20100101_v01.cdf
Labels: testing
