Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2024-04, with the labels that each got.

#382 MNT: Add codespell and fix spelling mistakes found
  .github/issue_templates/Algorithim_development.md
  .pre-commit-config.yaml
  docs/source/code-documentation/tools/xarray-to-cdf.rst
  docs/source/development-guide/doc-overview.rst
  docs/source/development-guide/style-guide/review-standards.rst
  docs/source/external-tools/cdf/cdf_introduction.rst
  docs/source/external-tools/cdf/cdf_requirements.rst
  docs/source/project-management/sdc-sit-plan.rst
  imap_processing/hit/l0/data_classes/housekeeping.py
  imap_processing/idex/idex_packet_parser.py
  imap_processing/lo/l0/science_direct_events.py
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/swe/swe_cdf_attrs.py
  imap_processing/tests/hi/test_l1a.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/utils.py
Labels: documentation

#374 Update IMAP-Hi DE CDF attrs
  imap_processing/hi/hi_cdf_attrs.py
  imap_processing/tests/hi/test_l1a.py
Labels: IMAP-Hi

#371 Process IMAP-Hi Housekeeping data and create CDF file
  imap_processing/hi/hi_cdf_attrs.py
  imap_processing/hi/l1a/hi_l1a.py
  imap_processing/hi/l1a/housekeeping.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/tests/hi/test_l1a.py
  poetry.lock
  pyproject.toml
Labels: IMAP-Hi

#380 TST: Avoid xarray.dims deprecation
  imap_processing/tests/mag/test_mag_decom.py
Labels: MAG, testing

#379 MNT: Remove directory option from write_cdf
  imap_processing/cdf/utils.py
  imap_processing/cli.py
  imap_processing/tests/cdf/test_utils.py
Labels: Parent Req: CDF File Format

#391 CoDICE L1a for lo-sw-species-counts (and improvements to housekeeping)
  imap_processing/codice/cdf_attrs.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/utils.py
  imap_processing/tests/codice/data/sample_science_data.bin
  imap_processing/tests/codice/test_codice_l0.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: CoDICE, L1

#394 Added SWAPI science data CDF attribute
  imap_processing/swapi/__init__.py
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swapi/swapi_cdf_attrs.py
  imap_processing/swapi/swapi_utils.py
  imap_processing/tests/swapi/test_swapi_l1.py
Labels: SWAPI

#398 added SWAPI housekeeping processing and CDF attrs
  imap_processing/common_cdf_attrs.py
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swapi/swapi_cdf_attrs.py
  imap_processing/swapi/swapi_utils.py
  imap_processing/tests/swapi/test_swapi_l1.py
  imap_processing/utils.py
Labels: SWAPI

#397 Science Direct Event Decompression Re-write
  docs/source/code-documentation/lo.rst
  docs/source/conf.py
  imap_processing/lo/l0/data_classes/science_direct_events.py
  imap_processing/lo/l0/decompression_tables.py
  imap_processing/lo/l0/decompression_tables/decompression_tables.py
  imap_processing/lo/l0/science_direct_events.py
  imap_processing/lo/l0/utils/binary_string.py
  imap_processing/lo/l0/utils/lo_base.py
  imap_processing/tests/lo/test_binary_string.py
  imap_processing/tests/lo/test_science_direct_events.py
Labels: IMAP-Lo, L0

#396 Initial Lo L1A Science DE CDF
  imap_processing/lo/__init__.py
  imap_processing/lo/l0/lo_apid.py
  imap_processing/lo/l1a/__init__.py
  imap_processing/lo/l1a/lo_cdf_attrs.py
  imap_processing/lo/l1a/lo_data_container.py
  imap_processing/lo/l1a/lo_l1a_write_cdfs.py
  imap_processing/tests/lo/test_lo_l1a_write_cdfs.py
Labels: IMAP-Lo, L1

#319 Lo Star Sensor and Science Counts data classes with bit decompression
  imap_processing/lo/l0/data_classes/science_counts.py
  imap_processing/lo/l0/data_classes/star_sensor.py
  imap_processing/lo/l0/decompression_tables/12_to_16_bit.csv
  imap_processing/lo/l0/decompression_tables/8_to_12_bit.csv
  imap_processing/lo/l0/decompression_tables/8_to_16_bit.csv
  imap_processing/lo/l0/utils/bit_decompression.py
  imap_processing/lo/packet_definitions/P_ILO_STAR.xml
  imap_processing/tests/lo/test_bit_decompression.py
  imap_processing/tests/lo/test_lo_l1a_write_cdfs.py
  imap_processing/tests/lo/test_science_counts.py
  imap_processing/tests/lo/test_star_sensor.py
Labels: IMAP-Lo, L1

#402 CoDICE lo-sw-species-counts test data
  imap_processing/codice/cdf_attrs.py
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/packet_definitions/P_COD_LO_SW_SPECIES_COUNTS.xml
  imap_processing/codice/utils.py
  imap_processing/tests/codice/data/lo_fsw_view_5_ccsds.bin
  imap_processing/tests/codice/data/sample_science_data.bin
  imap_processing/tests/codice/test_codice_l0.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: CoDICE, L1

#530 CoDICE L1a lo-nsw-species-counts
  imap_processing/codice/cdf_attrs.py
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_SPECIES_COUNTS.xml
  imap_processing/codice/utils.py
  imap_processing/tests/codice/data/lo_fsw_view_6_ccsds.bin
  imap_processing/tests/codice/test_codice_l1a.py
Labels: CoDICE, L1

#532 updates to utils create_dateset function
  imap_processing/hi/hi_cdf_attrs.py
  imap_processing/hi/l1a/hi_l1a.py
  imap_processing/hi/l1a/housekeeping.py
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/tests/hi/test_l1a.py
  imap_processing/tests/swapi/test_swapi_l1.py
  imap_processing/utils.py
Labels: enhancement, Ins: Hi

#533 Updates based on SPDF feedback
  imap_processing/cdf/defaults.py
  imap_processing/cdf/global_attrs.py
  imap_processing/hi/hi_cdf_attrs.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swapi/swapi_cdf_attrs.py
  imap_processing/tests/swapi/test_swapi_l1.py
Labels: enhancement, CDF

#535 IMAP Hi Histogram L1A processing
  imap_processing/hi/hi_cdf_attrs.py
  imap_processing/hi/l1a/hi_l1a.py
  imap_processing/hi/l1a/histogram.py
  imap_processing/hi/packet_definitions/hi_packet_definition.xml
  imap_processing/tests/hi/test_l1a.py
Labels: Ins: Hi, Level: L1

#534 Initial Codice L1A validation tests
  imap_processing/codice/codice_l1a.py
  imap_processing/tests/codice/test_codice_l1a.py
  pyproject.toml
Labels: Ins: CoDICE, Level: L1
