Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2024-01, with the labels that each got.

#289 Mag L0/Decom work
  imap_processing/mag/l0/decom_mag.py
  imap_processing/mag/l0/mag_l0_data.py
  imap_processing/mag/packet_definitions/MAG_SCI_COMBINED.xml
  imap_processing/mag/tests/mag_multiple_packets.pkts
  imap_processing/mag/tests/mag_single_burst.pkts
  imap_processing/mag/tests/mag_single_norm.pkts
  imap_processing/mag/tests/mag_vector_packets.pkts
  imap_processing/mag/tests/test_mag_decom.py
  tools/xtce_generation/xtce_generator_mag.py
Labels: MAG, L0

#304 SWAPI Level 1 Implementation
  docs/source/code-documentation/index.rst
  docs/source/code-documentation/swapi.rst
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swapi/swapi_utils.py
  imap_processing/swapi/tests/test_swapi_l1.py
  imap_processing/tests/swapi/__init__.py
  imap_processing/tests/swapi/l0_data/BinLog CCSDS_FRAG_TLM_20231012_125856Z_test.bin
  imap_processing/tests/swapi/l0_data/__init__.py
  imap_processing/tests/swapi/l0_validation_data/__init__.py
  imap_processing/tests/swapi/l0_validation_data/idle_export_eu.SWP_AUT_20231012_125245.csv
  imap_processing/tests/swapi/l0_validation_data/idle_export_eu.SWP_HK_20231012_125245.csv
  imap_processing/tests/swapi/l0_validation_data/idle_export_eu.SWP_MG_20231012_125245.csv
  imap_processing/tests/swapi/l0_validation_data/idle_export_eu.SWP_SCI_20231012_125245.csv
  imap_processing/tests/swapi/l0_validation_data/idle_export_raw.SWP_AUT_20231012_125245.csv
  imap_processing/tests/swapi/l0_validation_data/idle_export_raw.SWP_HK_20231012_125245.csv
  imap_processing/tests/swapi/l0_validation_data/idle_export_raw.SWP_MG_20231012_125245.csv
  imap_processing/tests/swapi/l0_validation_data/idle_export_raw.SWP_SCI_20231012_125245.csv
  imap_processing/tests/swapi/test_swapi_l1.py
Labels: SWAPI, L1

#309 PERF: Speed up bitstring conversions in idex
  imap_processing/idex/idex_packet_parser.py
Labels: IDEX, L0

#307 DOC: Add package description to the top-level namespace
  imap_processing/__init__.py
Labels: documentation

#312 TST: Move MAG tests over
  imap_processing/tests/mag/mag_multiple_packets.pkts
  imap_processing/tests/mag/mag_single_burst.pkts
  imap_processing/tests/mag/mag_single_norm.pkts
  imap_processing/tests/mag/mag_vector_packets.pkts
  imap_processing/tests/mag/test_mag_decom.py
Labels: MAG, testing

#311 TST: Re-use test fixtures within the module if possible
  imap_processing/tests/glows/test_glows_decom.py
  imap_processing/tests/glows/test_glows_l1a_data.py
Labels: GLOWS, L0

#310 PERF: Remove buffer size limitation
  imap_processing/glows/l0/decom_glows.py
  imap_processing/mag/l0/decom_mag.py
Labels: MAG, GLOWS, L0

#313 MNT: Rename description to descriptor in filename variable
  imap_processing/cdf/utils.py
  imap_processing/codice/codice_l1a.py
  imap_processing/swe/l1a/swe_l1a.py
  imap_processing/swe/l1b/swe_l1b.py
  imap_processing/tests/cdf/test_utils.py
  imap_processing/tests/idex/test_l1_cdfs.py
Labels: Parent Req: CDF File Format

#314 MNT: Cleanup ruff codes
  imap_processing/idex/idex_packet_parser.py
  pyproject.toml
Labels: IDEX

#316 REST API docs via OpenAPI
  docs/source/conf.py
  docs/source/data-access-api/index.rst
  docs/source/data-access-api/openapi.yml
  docs/source/index.rst
  poetry.lock
  pyproject.toml
Labels: documentation

#296 IMAP-Lo Science Direct Event Decompression
  docs/source/code-documentation/index.rst
  docs/source/code-documentation/lo.rst
  docs/source/conf.py
  imap_processing/lo/__init__.py
  imap_processing/lo/l0/__init__.py
  imap_processing/lo/l0/decompression_tables.py
  imap_processing/lo/l0/lo_base.py
  imap_processing/lo/l0/science_direct_events.py
  imap_processing/tests/lo/__init__.py
  imap_processing/tests/lo/test_science_direct_events.py
Labels: IMAP-Lo, L0

#318 Change name of style guide API documentation
  docs/source/development-guide/style-guide/python-docstrings.rst
  docs/source/development-guide/style-guide/style-guide.rst
Labels: documentation
