Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2024-06, with the labels that each got.

#566 L1b outline for Ultra
  imap_processing/cli.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/ultra/__init__.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/l1b/ultra_l1b.py
  imap_processing/ultra/ultra_metadata_example.json
Labels: Ins: Ultra, Level: L1

#546 Glows l1a cdf first draft
  docs/source/conf.py
  imap_processing/cdf/utils.py
  imap_processing/glows/__init__.py
  imap_processing/glows/glows_cdf_attrs.py
  imap_processing/glows/l0/decom_glows.py
  imap_processing/glows/l0/glows_l0_data.py
  imap_processing/glows/l1/glows_l1a.py
  imap_processing/glows/l1/glows_l1a_data.py
  imap_processing/glows/utils/constants.py
  imap_processing/tests/glows/direct_events_validation_data_l1a.csv
  imap_processing/tests/glows/test_glows_decom.py
  imap_processing/tests/glows/test_glows_l1a_cdf.py
  imap_processing/tests/glows/test_glows_l1a_data.py
Labels: Ins: GLOWS, Level: L1, CDF

#562 ENH/tools: Add metadata helper script to convert excel to yaml
  .gitignore
  poetry.lock
  pyproject.toml
  tools/metadata_generation/__init__.py
  tools/metadata_generation/metadata_generator.py
  tools/metadata_generation/tests/__init__.py
  tools/metadata_generation/tests/test_metadata_generation.py
Labels: Ins: SWAPI, Req: Metadata standards, CDF

#571 Dynamic version
  .github/workflows/test.yml
  .gitignore
  docs/source/external-tools/poetry.rst
  imap_processing/__init__.py
  imap_processing/cdf/utils.py
  imap_processing/cli.py
  imap_processing/tests/test_cli.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  pyproject.toml
Labels: enhancement, CDF

#582 Move CoDICE to YAML-based CDF attribute definition
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/cdf_attrs.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/utils.py
Labels: Ins: CoDICE, Level: L1, CDF

#581 Sit 3 Ultra L1b and L1c
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1c_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/tests/test_cli.py
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1c.py
  imap_processing/ultra/l1b/badtimes.py
  imap_processing/ultra/l1b/cullingmask.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1b/ultra_l1b.py
  imap_processing/ultra/l1c/histogram.py
  imap_processing/ultra/l1c/pset.py
  imap_processing/ultra/l1c/ultra_l1c.py
  imap_processing/ultra/ultra_metadata_example.json
  imap_processing/ultra/utils/__init__.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#584 Created SWE CDF Attrs YAML
  imap_processing/cdf/config/imap_swe_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_swe_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_swe_l1b_variable_attrs.yaml
  imap_processing/swe/l1a/swe_science.py
  imap_processing/swe/l1b/swe_l1b.py
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/swe/swe_cdf_attrs.py
  imap_processing/swe/utils/swe_utils.py
  imap_processing/tests/cdf/test_utils.py
  imap_processing/tests/swe/test_swe_l1a_science.py
  imap_processing/tests/swe/test_swe_l1b.py
  imap_processing/utils.py
  tools/metadata_generation/metadata_generator.py
Labels: Ins: SWE, Level: L1

#585 CoDICE L1a lo-counters-aggregated and lo-counters-singles
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/packet_definitions/P_COD_LO_INSTRUMENT_COUNTERS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_INST_COUNTS_AGGREGATED.xml
  imap_processing/codice/packet_definitions/P_COD_LO_INST_COUNTS_SINGLES.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_PRIORITY_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_PRIORITY_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_NHK.xml
  imap_processing/codice/utils.py
  imap_processing/tests/codice/data/imap_codice_l0_lo-counters-aggregated_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_lo-counters-singles_20240429_v001.pkts
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#598 TST/FIX: cast to datetime64[ns] to avoid warnings
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1c.py
Labels: Ins: Ultra, Repo: Testing

#600 MNT/TST: Prepare for cdflib upgrade
  imap_processing/tests/hi/test_l1a.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
Labels: Repo: Testing

#603 Adding LABL_PRT_i to 2D or higher Dimension Data Type - SWE
  imap_processing/cdf/config/imap_swe_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_swe_l1b_variable_attrs.yaml
  imap_processing/cdf/config/shared/default_global_cdf_attrs_schema.yaml
  imap_processing/swe/l1a/swe_science.py
  imap_processing/swe/l1b/swe_l1b_science.py
Labels: Ins: SWE, Level: L1

#590 Update CLI for HIT L1A
  imap_processing/cli.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/test_cli.py
Labels: Ins: HIT, Level: L1

#599 Lo L1A processing and CDF For SIT-3
  imap_processing/cdf/config/imap_lo_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_lo_l1a_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/lo/l0/data_classes/science_direct_events.py
  imap_processing/lo/l0/decompression_tables/decompression_tables.py
  imap_processing/lo/l1a/lo_l1a.py
  imap_processing/tests/lo/test_lo_l1a.py
  imap_processing/tests/lo/test_science_direct_events.py
Labels: Ins: Lo, Level: L1

#586 Text update to API doc Explanation
  docs/source/data-access-api/index.rst
Labels: Repo: Documentation

#587 CDF file requirements example
  docs/source/external-tools/cdf/cdf_requirements.rst
Labels: Repo: Documentation

#597 BUGFIX - load_cdf results in added xarray specific attributes
  imap_processing/cdf/utils.py
  imap_processing/cli.py
  imap_processing/tests/cdf/test_utils.py
  imap_processing/tests/swe/test_swe_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
Labels: bug, CDF

#608 Codice L1a hi products for SIT-3
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/packet_definitions/P_COD_HI_INSTRUMENT_COUNTERS.xml
  imap_processing/codice/packet_definitions/P_COD_HI_INST_COUNTS_AGGREGATED.xml
  imap_processing/codice/packet_definitions/P_COD_HI_INST_COUNTS_SINGLES.xml
  imap_processing/codice/packet_definitions/P_COD_HI_OMNI_SPECIES.xml
  imap_processing/codice/packet_definitions/P_COD_HI_OMNI_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_HI_SECT_SPECIES.xml
  imap_processing/codice/packet_definitions/P_COD_HI_SECT_SPECIES_COUNTS.xml
  imap_processing/tests/codice/data/imap_codice_l0_hi-counters-aggregated_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_hi-counters-singles_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_hi-omni_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_hi-sectored_20240429_v001.pkts
  imap_processing/tests/codice/test_codice_l1a.py
  tools/xtce_generation/xtce_generator_codice.py
Labels: Ins: CoDICE, Level: L1

#604 205 imap hi l1b annotated direct events
  imap_processing/cdf/config/imap_hi_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/cdf/config/shared/default_global_cdf_attrs_schema.yaml
  imap_processing/cli.py
  imap_processing/hi/l1a/hi_l1a.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/hi/utils.py
  imap_processing/tests/hi/conftest.py
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/hi/test_l1a.py
  imap_processing/tests/hi/test_l1a_sci_de.py
  imap_processing/tests/hi/test_utils.py
  imap_processing/tests/test_cli.py
Labels: Ins: Hi, Level: L1

#607 Lo L1B CDF Creation for SIT-3
  imap_processing/cdf/config/imap_lo_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_lo_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_lo_l1b_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/tests/lo/test_l1a_cdfs/imap_lo_l1a_de_20100101_v001.cdf
  imap_processing/tests/lo/test_l1a_cdfs/imap_lo_l1a_spin_20100101_v001.cdf
  imap_processing/tests/lo/test_lo_l1b.py
Labels: Ins: Lo, Level: L1

#617 Codice l1a CDF fixes
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/data/imap_codice_l0_hskp_20100101_v001.pkts
  imap_processing/tests/codice/test_codice_l0.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#614 Lo L1C CDF Creation for SIT-3
  imap_processing/cdf/config/imap_lo_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_lo_l1c_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/lo/l1c/lo_l1c.py
  imap_processing/tests/lo/test_cdfs/imap_lo_l1a_de_20100101_v001.cdf
  imap_processing/tests/lo/test_cdfs/imap_lo_l1a_spin_20100101_v001.cdf
  imap_processing/tests/lo/test_cdfs/imap_lo_l1b_de_20100101_v001.cdf
  imap_processing/tests/lo/test_lo_l1b.py
  imap_processing/tests/lo/test_lo_l1c.py
Labels: Ins: Lo, Level: L1

#621 Data version fixes for SWE and SWAPI
  imap_processing/cli.py
  imap_processing/swapi/l1/swapi_l1.py
Labels: bug, Ins: SWAPI, Ins: SWE

#625 Data_version updates to Lo L1C
  imap_processing/lo/l1c/lo_l1c.py
  imap_processing/tests/lo/test_lo_l1c.py
Labels: Ins: Lo, Level: L1

#626 HIT Data_version fixes
  imap_processing/cli.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/tests/hit/test_hit_l1b.py
Labels: Ins: HIT, Level: L1

#627 609 imap hi l1c pointing set cdf
  imap_processing/cdf/config/imap_hi_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/hi/l1c/__init__.py
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/test_cli.py
Labels: Ins: Hi, CDF

#631 630 final hi updates for sit 3
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/hi/hi_cdf_attrs.py
  imap_processing/hi/l1a/hi_l1a.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/tests/hi/test_l1a.py
  imap_processing/tests/hi/test_l1a_sci_de.py
  imap_processing/tests/hit/test_hit_l1b.py
Labels: Ins: HIT, Ins: Hi, CDF

#589 Add to SIT-3 data variables
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1c/histogram.py
  imap_processing/ultra/l1c/pset.py
Labels: Ins: Ultra, Level: L1

#633 Add Hi sensor name to imap_hi_l1b_hk products
  imap_processing/cdf/config/imap_hi_global_cdf_attrs.yaml
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/tests/hi/test_hi_l1b.py
Labels: Ins: Hi, CDF

#639 Add numpydoc Pre-Commit Hook Pt.1
  .pre-commit-config.yaml
  imap_processing/ccsds/ccsds_data.py
  imap_processing/cdf/cdf_attribute_manager.py
  imap_processing/cdf/global_attrs.py
  imap_processing/cdf/imap_cdf_manager.py
  imap_processing/cdf/utils.py
  imap_processing/cli.py
  imap_processing/decom.py
  imap_processing/utils.py
  pyproject.toml
  tools/metadata_generation/metadata_generator.py
  tools/spice/spice_examples.py
  tools/spice/spice_utils.py
  tools/xtce_generation/ccsds_header_xtce_generator.py
  tools/xtce_generation/telemetry_generator.py
  tools/xtce_generation/xtce_generator_codice.py
  tools/xtce_generation/xtce_generator_glows.py
  tools/xtce_generation/xtce_generator_hi.py
  tools/xtce_generation/xtce_generator_hit.py
  tools/xtce_generation/xtce_generator_lo.py
  tools/xtce_generation/xtce_generator_mag.py
  tools/xtce_generation/xtce_generator_swapi.py
  tools/xtce_generation/xtce_generator_swe.py
  tools/xtce_generation/xtce_generator_template.py
Labels: Repo: Documentation, Repo: Testing

#641 Add numpydoc pre-commit For SWE Pt.2
  .pre-commit-config.yaml
  imap_processing/swe/l0/decom_swe.py
  imap_processing/swe/l1a/swe_l1a.py
  imap_processing/swe/l1a/swe_science.py
  imap_processing/swe/l1b/swe_l1b.py
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/swe/utils/swe_utils.py
  pyproject.toml
Labels: Repo: Documentation, Repo: Testing

#643 Add numpydoc Pre-Commit For Ultra & Swapi Pt.3
  .pre-commit-config.yaml
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swapi/swapi_utils.py
  imap_processing/ultra/l0/decom_tools.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/l1b/badtimes.py
  imap_processing/ultra/l1b/cullingmask.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1b/ultra_l1b.py
  imap_processing/ultra/l1c/histogram.py
  imap_processing/ultra/l1c/pset.py
  imap_processing/ultra/l1c/ultra_l1c.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Repo: Documentation, Repo: Testing

#644 Add numpydoc Pre-Commit For Mag & Lo Pt.4
  .pre-commit-config.yaml
  imap_processing/lo/l0/data_classes/science_counts.py
  imap_processing/lo/l0/data_classes/science_direct_events.py
  imap_processing/lo/l0/data_classes/star_sensor.py
  imap_processing/lo/l0/utils/binary_string.py
  imap_processing/lo/l0/utils/bit_decompression.py
  imap_processing/lo/l0/utils/lo_base.py
  imap_processing/lo/l1a/lo_data_container.py
  imap_processing/lo/l1a/lo_l1a.py
  imap_processing/lo/l1a/lo_l1a_write_cdfs.py
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/lo/l1c/lo_l1c.py
  imap_processing/mag/l0/decom_mag.py
  imap_processing/mag/l0/mag_l0_data.py
  imap_processing/mag/l1a/mag_l1a.py
  imap_processing/mag/l1a/mag_l1a_data.py
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/mag/l1c/mag_l1c.py
  imap_processing/swapi/swapi_utils.py
  poetry.lock
Labels: Repo: Documentation, Repo: Testing

#647 Add numpydoc Pre-Commit For ialirt & idex Pt.5
  .pre-commit-config.yaml
  imap_processing/ialirt/l0/decom_ialirt.py
  imap_processing/idex/idex_packet_parser.py
Labels: Repo: Documentation, Repo: Testing

#651 Add numpydoc Pre-Commit for Hit & Hi Pt.6
  .pre-commit-config.yaml
  imap_processing/hi/l0/decom_hi.py
  imap_processing/hi/l1a/hi_l1a.py
  imap_processing/hi/l1a/histogram.py
  imap_processing/hi/l1a/housekeeping.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/hi/utils.py
  imap_processing/hit/l0/data_classes/housekeeping.py
  imap_processing/hit/l0/data_classes/science_packet.py
  imap_processing/hit/l0/utils/hit_base.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/hit/l1b/hit_l1b.py
Labels: Repo: Documentation, Repo: Testing

#652 Add numpydoc Pre-Commit For Codice & Glows Pt.7 Last One
  .pre-commit-config.yaml
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/codice_l1b.py
  imap_processing/codice/constants.py
  imap_processing/codice/decompress.py
  imap_processing/codice/utils.py
  imap_processing/glows/l0/decom_glows.py
  imap_processing/glows/l0/glows_l0_data.py
  imap_processing/glows/l1a/glows_l1a.py
  imap_processing/glows/l1a/glows_l1a_data.py
  imap_processing/glows/l1b/glows_l1b.py
  imap_processing/glows/l1b/glows_l1b_data.py
  imap_processing/glows/utils/constants.py
Labels: Repo: Documentation, Repo: Testing

#637 Cdf attribute tests
  imap_processing/cdf/imap_cdf_manager.py
  imap_processing/cdf/tests/__init__.py
  imap_processing/cdf/tests/imap_default_global_cdf_attrs.yaml
  imap_processing/cdf/tests/imap_default_global_test_cdf_attrs.yaml
  imap_processing/cdf/tests/imap_instrument1_global_cdf_attrs.yaml
  imap_processing/cdf/tests/imap_instrument1_level1_variable_attrs.yaml
  imap_processing/cdf/tests/imap_instrument2_global_cdf_attrs.yaml
  imap_processing/cdf/tests/imap_instrument2_level2_variable_attrs.yaml
  imap_processing/cdf/tests/imap_test_global.yaml
  imap_processing/cdf/tests/imap_test_variable.yaml
  imap_processing/cdf/tests/shared/default_global_cdf_attrs_schema.yaml
  imap_processing/cdf/tests/shared/default_variable_cdf_attrs_schema.yaml
  imap_processing/cdf/tests/test_cdf_attribute_manager.py
  imap_processing/cdf/tests/test_imap_cdf_manager.py
Labels: enhancement, Repo: Testing, Student, CDF

#650 Git workflow update
  docs/source/development-guide/style-guide/git-and-github-workflow.rst
Labels: Repo: Documentation, Student

#657 MNT: Pass around dataset objects rather than file objects
  imap_processing/cli.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/codice_l1b.py
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/lo/l1a/lo_l1a.py
  imap_processing/lo/l1a/lo_l1a_write_cdfs.py
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/lo/l1c/lo_l1c.py
  imap_processing/mag/l1a/mag_l1a.py
  imap_processing/tests/codice/test_codice_l1a.py
  imap_processing/tests/codice/test_codice_l1b.py
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/hit/test_hit_l1b.py
  imap_processing/tests/lo/test_lo_l1a.py
  imap_processing/tests/lo/test_lo_l1a_write_cdfs.py
  imap_processing/tests/lo/test_lo_l1b.py
  imap_processing/tests/lo/test_lo_l1c.py
  imap_processing/tests/test_cli.py
Labels: CDF

#653 ENH/MNT: Allow array-like time conversion
  .github/workflows/test.yml
  imap_processing/__init__.py
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/cdf/utils.py
  imap_processing/cli.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/utils.py
  imap_processing/glows/l1a/glows_l1a.py
  imap_processing/hi/l1a/histogram.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/idex/idex_packet_parser.py
  imap_processing/lo/l1a/lo_l1a.py
  imap_processing/lo/l1a/lo_l1a_write_cdfs.py
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/lo/l1c/lo_l1c.py
  imap_processing/mag/l0/decom_mag.py
  imap_processing/mag/l1a/mag_l1a.py
  imap_processing/mag/l1a/mag_l1a_data.py
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swe/l1a/swe_science.py
  imap_processing/tests/cdf/test_utils.py
  imap_processing/tests/mag/test_mag_l1a.py
  imap_processing/tests/swapi/test_swapi_l1.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/utils.py
Labels: enhancement
