Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2024-08, with the labels that each got.

#696 Ultra Extended L1b Lookup tables
  imap_processing/tests/ultra/unit/test_lookup_utils.py
  imap_processing/ultra/l1b/lookup_utils.py
  imap_processing/ultra/lookup_tables/EgyNorm.mem.csv
  imap_processing/ultra/lookup_tables/FM45_Startup1_ULTRA_IMGPARAMS_20240719.csv
  imap_processing/ultra/lookup_tables/ultra45_back-pos-luts.csv
  imap_processing/ultra/lookup_tables/ultra45_tdc_norm.csv
  imap_processing/ultra/lookup_tables/ultra90_back-pos-luts.csv
  imap_processing/ultra/lookup_tables/ultra90_tdc_norm.csv
  imap_processing/ultra/lookup_tables/yadjust.csv
Labels: Ins: Ultra, Level: L1

#733 Define the imap_processing spice structure
  imap_processing/spice/__init__.py
  imap_processing/spice/geometry.py
  imap_processing/spice/kernels.py
  imap_processing/spice/time.py
  imap_processing/tests/spice/__init__.py
  imap_processing/tests/spice/test_geometry.py
  imap_processing/tests/spice/test_kernels.py
  imap_processing/tests/spice/test_time.py
Labels: SPICE

#747 MNT: Update global CDF attribute metadata
  imap_processing/cdf/config/imap_default_global_cdf_attrs.yaml
  imap_processing/tests/cdf/test_imap_cdf_manager.py
Labels: CDF

#711 Various CoDICE L1 Updates
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1b_variable_attrs.yaml
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/packet_definitions/P_COD_HI_INST_COUNTS_AGGREGATED.xml
  imap_processing/codice/packet_definitions/P_COD_HI_INST_COUNTS_SINGLES.xml
  imap_processing/codice/packet_definitions/P_COD_HI_OMNI_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_HI_PHA.xml
  imap_processing/codice/packet_definitions/P_COD_HI_SECT_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_PHA.xml
  imap_processing/codice/utils.py
  imap_processing/tests/codice/conftest.py
  imap_processing/tests/codice/data/imap_codice_l0_hi-counters-aggregated_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_hi-counters-singles_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_hi-omni_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_hi-pha_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_hi-sectored_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_lo-pha_20240429_v001.pkts
  imap_processing/tests/codice/test_codice_l0.py
  imap_processing/tests/codice/test_codice_l1a.py
  imap_processing/tests/codice/test_codice_l1b.py
Labels: Ins: CoDICE, Level: L1

#734 728 spice kernel furnishing decorator
  imap_processing/spice/kernels.py
  imap_processing/tests/conftest.py
  imap_processing/tests/spice/test_data/imap_sclk_0000.tsc
  imap_processing/tests/spice/test_data/imap_test_metakernel.template
  imap_processing/tests/spice/test_data/naif0012.tls
  imap_processing/tests/spice/test_kernels.py
  tools/tests/unit/test_spice_examples.py
Labels: SPICE

#754 Updated/Combined Lo XTCE
  imap_processing/lo/packet_definitions/P_ILO_APP_NHK.xml
  imap_processing/lo/packet_definitions/P_ILO_APP_SHK.xml
  imap_processing/lo/packet_definitions/P_ILO_AUTO.xml
  imap_processing/lo/packet_definitions/P_ILO_BOOT_HK.xml
  imap_processing/lo/packet_definitions/P_ILO_BOOT_MEMDMP.xml
  imap_processing/lo/packet_definitions/P_ILO_DIAG_BULK_HVPS.xml
  imap_processing/lo/packet_definitions/P_ILO_DIAG_CDH.xml
  imap_processing/lo/packet_definitions/P_ILO_DIAG_IFB.xml
  imap_processing/lo/packet_definitions/P_ILO_DIAG_PCC.xml
  imap_processing/lo/packet_definitions/P_ILO_DIAG_TOF_BD.xml
  imap_processing/lo/packet_definitions/P_ILO_EVTMSG.xml
  imap_processing/lo/packet_definitions/P_ILO_MEMDMP.xml
  imap_processing/lo/packet_definitions/P_ILO_RAW_CNT.xml
  imap_processing/lo/packet_definitions/P_ILO_RAW_DE.xml
  imap_processing/lo/packet_definitions/P_ILO_RAW_STAR.xml
  imap_processing/lo/packet_definitions/P_ILO_SCI_CNT.xml
  imap_processing/lo/packet_definitions/P_ILO_SCI_DE.xml
  imap_processing/lo/packet_definitions/P_ILO_SPIN.xml
  imap_processing/lo/packet_definitions/P_ILO_STAR.xml
  imap_processing/lo/packet_definitions/lo_xtce.xml
  imap_processing/tests/test_decom.py
Labels: Ins: Lo, Level: L0

#758 MNT: Enable numpy 2+ installs
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/mag/l1a/mag_l1a_data.py
  poetry.lock
  pyproject.toml
Labels: enhancement

#766 DOC: Update XTCE generator documentation
  docs/source/code-documentation/tools/xtce-generator.rst
Labels: Repo: Documentation

#759 Pointing frame code
  imap_processing/spice/kernels.py
  imap_processing/tests/spice/test_data/imap_science_0001.tf
  imap_processing/tests/spice/test_data/imap_sim_ck_2hr_2secsampling_with_nutation.bc
  imap_processing/tests/spice/test_data/imap_wkcp.tf
  imap_processing/tests/spice/test_kernels.py
Labels: SPICE

#763 MNT: Add useful error message when packet to datasets fails
  imap_processing/tests/test_utils.py
  imap_processing/utils.py
Labels: enhancement

#786 FIX: Avoid loss of precision when casting in packet loading (alternative)
  imap_processing/tests/test_utils.py
  imap_processing/utils.py
Labels: packet parsing

#762 CoDICE L1 decompression and unpacking data updates
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1b_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/decompress.py
  imap_processing/tests/codice/test_codice_l1a.py
  imap_processing/tests/codice/test_decompress.py
Labels: Ins: CoDICE, Level: L1

#783 ENH: Add Enumeration states to XTCE parser
  docs/source/code-documentation/tools/xtce-generator.rst
  imap_processing/ccsds/excel_to_xtce.py
  imap_processing/tests/ccsds/test_data/excel_to_xtce_test_file.xlsx
  imap_processing/tests/ccsds/test_data/expected_output.xml
  imap_processing/tests/ccsds/test_excel_to_xtce.py
Labels: packet parsing
