Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2024-05, with the labels that each got.

#536 MNT: Remove direct bitstring dependency
  docs/source/conf.py
  poetry.lock
  pyproject.toml
Labels: Level: L1

#540 CoDICE L1a lo-sw-priority-counts
  imap_processing/codice/cdf_attrs.py
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/packet_definitions/P_COD_LO_PRIORITY_COUNTS.xml
  imap_processing/tests/codice/data/lo_fsw_view_3_ccsds.bin
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#544 CoDICE L1a Lo Sunward Angular Counts
  imap_processing/codice/cdf_attrs.py
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/packet_definitions/P_COD_LO_SW_ANGULAR_COUNTS.xml
  imap_processing/tests/codice/data/lo_fsw_view_7_ccsds.bin
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#537 load_cdf helper function
  imap_processing/cdf/utils.py
  imap_processing/cli.py
  imap_processing/tests/cdf/test_utils.py
  imap_processing/tests/codice/test_codice_l1a.py
  imap_processing/tests/idex/test_l1_cdfs.py
  imap_processing/tests/mag/test_mag_decom.py
  imap_processing/tests/swe/test_swe_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
Labels: CDF

#554 CI: Add codecov upload token
  .github/workflows/test.yml
Labels: Repo: Testing

#552 Add launch_time parameter to cdf.utils.calc_start_time
  imap_processing/cdf/utils.py
  imap_processing/tests/cdf/test_utils.py
Labels: enhancement

#549 WIP - Define L0 data class attributes for HIT science packet
  imap_processing/hit/l0/data_classes/science_packet.py
  imap_processing/hit/packet_definitions/P_HIT_SCIENCE.xml
  poetry.lock
  pyproject.toml
  tools/xtce_generation/xtce_generator_hit.py
Labels: Ins: HIT, Level: L0

#558 Removed all non-science data for SWE
  imap_processing/swe/l1a/swe_l1a.py
  imap_processing/swe/l1b/swe_l1b.py
  imap_processing/swe/packet_definitions/swe_packet_definition.xml
  imap_processing/tests/swe/l0_data/20230927100248_SWE_HK_packet.bin
  imap_processing/tests/swe/l0_data/20230927100412_SWE_HK_packet.bin
  imap_processing/tests/swe/l0_data/20230927100425_SWE_CEM_RAW_packet.bin
  imap_processing/tests/swe/l0_data/20230927100426_SWE_CEM_RAW_packet.bin
  imap_processing/tests/swe/l0_data/20231004155854_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004155904_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004155905_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004155919_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004155956_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004160009_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004160010_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004160020_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004160021_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004160022_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004160024_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004160027_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004160030_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004160033_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_data/20231004160034_SWE_EVTMSG_packet.bin
  imap_processing/tests/swe/l0_validation_data/data_derived.SWE_APP_HK_20230927_094839.csv
  imap_processing/tests/swe/l0_validation_data/data_raw.SWE_APP_HK_20230927_094839.csv
  imap_processing/tests/swe/l0_validation_data/data_raw.SWE_CEM_RAW_20230927_094839.csv
  imap_processing/tests/swe/l0_validation_data/idle_export_eu.SWE_EVTMSG_20231004_140149.xlsx
  imap_processing/tests/swe/l0_validation_data/idle_export_raw.SWE_EVTMSG_20231004_140149.csv
  imap_processing/tests/swe/test_swe_l1a.py
  imap_processing/tests/swe/test_swe_l1a_cem_raw.py
  imap_processing/tests/swe/test_swe_l1a_event_msg.py
  imap_processing/tests/swe/test_swe_l1a_housekeeping.py
  imap_processing/tests/swe/test_swe_l1b.py
Labels: Ins: SWE

#557 CoDICE L1a various fixes
  imap_processing/codice/cdf_attrs.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/data/lo_stepping_values.csv
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_PRIORITY_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_SPECIES_COUNTS.xml
  imap_processing/codice/utils.py
  imap_processing/tests/codice/test_codice_l1a.py
  poetry.lock
  tools/xtce_generation/TLM_COD.xlsx
  tools/xtce_generation/xtce_generator_codice.py
Labels: Ins: CoDICE, Level: L1

#559 203 imap hi l1b processed housekeeping
  imap_processing/hi/hi_cdf_attrs.py
  imap_processing/hi/l1b/__init__.py
  imap_processing/hi/l1b/hi_eng_unit_convert_table.csv
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/hi/utils.py
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/test_utils.py
  imap_processing/utils.py
Labels: Ins: Hi, Level: L1

#556 L1A SIT-3 Preparation
  .gitignore
  imap_processing/__init__.py
  imap_processing/cli.py
  imap_processing/tests/test_cli.py
  imap_processing/tests/ultra/test_data/l0/FM45_40P_Phi28p5_BeamCal_LinearScan_phi28.50_theta-0.00_20240207T102740.CCSDS
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_decom_apid_880.py
  imap_processing/tests/ultra/unit/test_decom_apid_881.py
  imap_processing/tests/ultra/unit/test_decom_apid_883.py
  imap_processing/tests/ultra/unit/test_decom_apid_896.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l0/decom_tools.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/ultra_cdf_attrs.py
Labels: Ins: Ultra, Level: L1

#561 Update to SWE processing in cli.py
  imap_processing/cli.py
Labels: Ins: SWE

#565 Added SWAPI and IDEX to cli.py
  docs/source/development-guide/style-guide/naming-conventions.rst
  imap_processing/__init__.py
  imap_processing/cli.py
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/tests/idex/imap_idex_l0_raw_20230725_v001.pkts
  imap_processing/tests/idex/test_decom.py
  imap_processing/tests/idex/test_l1_cdfs.py
  imap_processing/tests/swapi/l0_data/imap_swapi_l0_raw_20231012_v001.pkts
  imap_processing/tests/swapi/test_swapi_decom.py
  imap_processing/tests/swapi/test_swapi_l1.py
Labels: Ins: SWAPI, Ins: IDEX, Level: L1

#563 [WIP] New file defining HIT CDF attributes
  imap_processing/hit/__init__.py
  imap_processing/hit/l1a/hit_cdf_attrs.py
Labels: Ins: HIT, Level: L1, CDF

#567 Codice L1A updates for SIT-3
  docs/source/development-guide/style-guide/naming-conventions.rst
  imap_processing/codice/cdf_attrs.py
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/packet_definitions/P_COD_HI_OMNI_SPECIES.xml
  imap_processing/codice/packet_definitions/P_COD_HI_SECT_SPECIES.xml
  imap_processing/codice/packet_definitions/P_COD_HSKP.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_ANGULAR.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_PRIORITY.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_SPECIES.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_PRIORITY_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_ANGULAR.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_PRIORITY.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_SPECIES.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_SPECIES_COUNTS.xml
  imap_processing/tests/codice/data/imap_codice_l0_hskp_20230822_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_lo-nsw-angular_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_lo-nsw-priority_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_lo-nsw-species_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_lo-sw-angular_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_lo-sw-priority_20240429_v001.pkts
  imap_processing/tests/codice/data/imap_codice_l0_lo-sw-species_20240429_v001.pkts
  imap_processing/tests/codice/data/lo_fsw_view_3_ccsds.bin
  imap_processing/tests/codice/data/lo_fsw_view_5_ccsds.bin
  imap_processing/tests/codice/data/lo_fsw_view_6_ccsds.bin
  imap_processing/tests/codice/data/lo_fsw_view_7_ccsds.bin
  imap_processing/tests/codice/test_codice_l0.py
  imap_processing/tests/codice/test_codice_l1a.py
  tools/xtce_generation/xtce_generator_codice.py
Labels: Ins: CoDICE, Level: L1
