Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2024-12, with the labels that each got.

#1191 Lo - Change esa_step coord name in L1A attrs
  imap_processing/cdf/config/imap_lo_l1a_variable_attrs.yaml
  imap_processing/lo/l1a/lo_l1a.py
Labels: Ins: Lo, Level: L1, CDF

#1201 Lo - Update XTCE to fix HK enum state issue
  imap_processing/lo/packet_definitions/lo_xtce.xml
Labels: bug, Ins: Lo, Level: L0, packet parsing

#1205 Bring in fixes for geometry modules
  imap_processing/spice/geometry.py
  imap_processing/tests/spice/test_geometry.py
Labels: Ins: Ultra, SPICE

#1196 700 refactor hi l1a histogram
  docs/source/conf.py
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/hi/l1a/histogram.py
  imap_processing/tests/hi/test_l1a.py
Labels: Ins: Hi

#1206 Bring over l2_utils from large PR
  imap_processing/tests/ultra/unit/test_spatial_utils.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
  imap_processing/ultra/utils/spatial_utils.py
  poetry.lock
  pyproject.toml
Labels: Ins: Ultra, Level: L2

#1174 I-ALiRT - Process Ephemeris
  .gitignore
  imap_processing/ialirt/process_ephemeris.py
  imap_processing/spice/time.py
  imap_processing/tests/conftest.py
  imap_processing/tests/ialirt/unit/test_process_ephemeris.py
  imap_processing/tests/spice/test_time.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
Labels: I-ALiRT

#1212 Lo - Event Parsing Segmented Packets with Validation
  imap_processing/lo/l0/decompression_tables/decompression_tables.py
  imap_processing/lo/l0/lo_science.py
  imap_processing/lo/packet_definitions/lo_xtce.xml
  imap_processing/tests/lo/test_lo_science.py
  imap_processing/tests/lo/test_pkts/imap_lo_l0_raw_20240803_v002.pkts
  imap_processing/tests/lo/validation_data/Instrument_FM1_T104_R129_20240803_ILO_SCI_DE_dec_DN_with_fills.csv
Labels: Ins: Lo, Level: L0, Level: L1

#1203 Add new telemetry items
  imap_processing/cdf/config/imap_idex_l1a_variable_attrs.yaml
  imap_processing/idex/idex_l1a.py
  imap_processing/idex/packet_definitions/idex_packet_definition.xml
  imap_processing/tests/idex/test_idex_l0.py
  imap_processing/tests/idex/test_idex_l1a.py
Labels: Ins: IDEX, CDF, packet parsing

#1216 1030 hi l1a update sci de packet definition and parsing
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/hi/l1a/hi_l1a.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/hi/packet_definitions/TLM_HI_COMBINED_SCI.xml
  imap_processing/tests/hi/test_l1a_sci_de.py
  imap_processing/tests/hi/test_science_direct_event.py
Labels: Ins: Hi

#1223 SWE: Review and correct phase space density units
  imap_processing/swe/l2/swe_l2.py
  imap_processing/tests/swe/test_swe_l2.py
  pyproject.toml
Labels: Ins: SWE

#1222 Add source file to header of xtce in excel_to_xtce
  imap_processing/ccsds/excel_to_xtce.py
  imap_processing/tests/ccsds/test_data/expected_output.xml
Labels: packet parsing

#1221 Lo - Create L1A Direct Event CDFs
  imap_processing/cdf/config/imap_lo_l1a_variable_attrs.yaml
  imap_processing/lo/l0/lo_science.py
  imap_processing/lo/l1a/lo_l1a.py
  imap_processing/tests/lo/test_lo_l1a.py
Labels: Ins: Lo, Level: L1, CDF

#1226 Update instrument boresight vectors
  imap_processing/spice/geometry.py
Labels: SPICE

#1227 SWE: calculate flux
  imap_processing/swe/l2/swe_l2.py
  imap_processing/tests/swe/test_swe_l2.py
Labels: Ins: SWE, Level: L2

#1224 IDEX L1b science data processing
  imap_processing/cdf/config/imap_idex_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_idex_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_idex_l1b_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/idex/idex_l1a.py
  imap_processing/idex/idex_l1b.py
  imap_processing/idex/idex_variable_unpacking_and_eu_conversion.csv
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_idex_l1a.py
  imap_processing/tests/idex/test_idex_l1b.py
Labels: Ins: IDEX, Level: L1

#1229 SWE: spin phase
  imap_processing/swe/l2/swe_l2.py
  imap_processing/tests/swe/test_swe_l2.py
  pyproject.toml
Labels: Ins: SWE, Level: L2

#803 MNT/TST: Update SWAPI packet definition and tests
  .github/workflows/test.yml
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swapi/packet_definitions/swapi_packet_definition.xml
  imap_processing/tests/swapi/test_swapi_decom.py
  imap_processing/tests/swapi/test_swapi_l1.py
  imap_processing/tests/test_utils.py
Labels: Ins: SWAPI, Level: L0

#1215 I-ALiRT: CoDICE- Lo
  imap_processing/ialirt/l0/process_codicelo.py
  imap_processing/ialirt/l0/process_hit.py
  imap_processing/ialirt/packet_definitions/ialirt_codicelo.xml
  imap_processing/tests/ialirt/test_data/l0/apid01152.tlm
  imap_processing/tests/ialirt/test_data/l0/imap_codice_l1a_lo-ialirt_20241110193700_v0.0.0.cdf
  imap_processing/tests/ialirt/unit/test_process_codicelo.py
  imap_processing/tests/ialirt/unit/test_process_hit.py
Labels: Ins: CoDICE, I-ALiRT

#1228 Ultra l1b: velocity magnitude and updated species functions
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/tests/ultra/test_data/l0/ultra45_raw_sc_ultrarawimg_withFSWcalcs_FM45_40P_Phi28p5_BeamCal_LinearScan_phi2850_theta-000_20240207T102740.csv
  imap_processing/tests/ultra/unit/test_de.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
Labels: Ins: Ultra, Level: L1

#1234 Fix data array shapes for CoDICE-Lo products
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/decompress.py
  imap_processing/tests/codice/test_codice_l1a.py
  imap_processing/tests/codice/test_decompress.py
Labels: bug, Ins: CoDICE, Level: L1
