Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2024-09, with the labels that each got.

#799 Docstring, variable name, formatting updates to IDEX L1
  docs/source/conf.py
  imap_processing/idex/l0/idex_l0.py
  imap_processing/idex/l1/idex_l1.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_idex_l0.py
  imap_processing/tests/idex/test_idex_l1.py
Labels: Ins: IDEX, Level: L1

#804 Implement packet_file_to_datasets function for CoDICE
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/test_codice_l0.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L0, Level: L1

#791 SPICE geometry enums and IMAP state function
  imap_processing/spice/geometry.py
  imap_processing/spice/kernels.py
  imap_processing/tests/spice/test_data/imap_spk_demo.bsp
  imap_processing/tests/spice/test_data/imap_test_metakernel.template
  imap_processing/tests/spice/test_geometry.py
Labels: SPICE

#805 SWAPI Quality Flag
  imap_processing/cdf/config/imap_swapi_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_swapi_variable_attrs.yaml
  imap_processing/quality_flags.py
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/swapi/l2/swapi_l2.py
  imap_processing/tests/swapi/test_swapi_l1.py
  imap_processing/tests/swapi/test_swapi_l2.py
  pyproject.toml
Labels: enhancement, Ins: SWAPI, Level: L1, Level: L2

#802 WIP/MNT: Update SWE to use packet_file_to_datasets
  docs/source/code-documentation/swe.rst
  imap_processing/cdf/config/imap_swe_l1a_variable_attrs.yaml
  imap_processing/swe/l0/__init__.py
  imap_processing/swe/l0/decom_swe.py
  imap_processing/swe/l1a/swe_l1a.py
  imap_processing/swe/l1a/swe_science.py
  imap_processing/swe/packet_definitions/swe_packet_definition.xml
  imap_processing/swe/utils/swe_utils.py
  imap_processing/tests/swe/conftest.py
  imap_processing/tests/swe/test_swe_l1a.py
  imap_processing/tests/swe/test_swe_l1a_science.py
  imap_processing/tests/swe/test_swe_l1b.py
  imap_processing/tests/swe/test_swe_l1b_science.py
Labels: Ins: SWE, Level: L0

#811 Create Ultra pset energy bins
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
Labels: Ins: Ultra, Level: L1

#807 Added new tof test data
  imap_processing/tests/ultra/test_data/l0/FM45_40P_Phi28p5_BeamCal_LinearScan_phi28.50_theta-0.00_Ultra_Image_Raw_Event_20240207T102746_withFSWcalcs.csv
  imap_processing/tests/ultra/test_data/l0/ultra45_raw_sc_ultrarawimg_withFSWcalcs_FM45_40P_Phi28p5_BeamCal_LinearScan_phi2850_theta-000_20240207T102740.csv
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/l1b/lookup_utils.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
  imap_processing/ultra/lookup_tables/FM45_Startup1_ULTRA_IMGPARAMS_20240719.csv
Labels: Ins: Ultra, Level: L1

#823 Ultra particle velocity and SSD TOF
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
  imap_processing/ultra/lookup_tables/FM45_Startup1_ULTRA_IMGPARAMS_20240719.csv
Labels: Ins: Ultra, Level: L1

#812 Updated CoDICE XTCE files from imap_xtce tool
  imap_processing/codice/codice_l0.py
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/packet_definitions/P_COD_HI_INST_COUNTS_AGGREGATED.xml
  imap_processing/codice/packet_definitions/P_COD_HI_INST_COUNTS_SINGLES.xml
  imap_processing/codice/packet_definitions/P_COD_HI_OMNI_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_HI_PHA.xml
  imap_processing/codice/packet_definitions/P_COD_HI_SECT_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_INST_COUNTS_AGGREGATED.xml
  imap_processing/codice/packet_definitions/P_COD_LO_INST_COUNTS_SINGLES.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_PRIORITY_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_NSW_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_PHA.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_ANGULAR_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_PRIORITY_COUNTS.xml
  imap_processing/codice/packet_definitions/P_COD_LO_SW_SPECIES_COUNTS.xml
  imap_processing/codice/packet_definitions/codice_packet_definition.xml
  imap_processing/tests/codice/test_codice_l0.py
Labels: Ins: CoDICE, Level: L0

#813 Updated various CDF attributes/variable names to match expected nomenclature
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#816 Added FIELDNAMs, LABLAXISs, and CATDESCs for housekeeping attributes
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#757 I-ALiRT - Test decom for HIT CCSDS
  imap_processing/ialirt/l0/decom_ialirt.py
  imap_processing/ialirt/l0/process_hit.py
  imap_processing/ialirt/packet_definitions/ialirt.xml
  imap_processing/ialirt/packet_definitions/ialirt_hit.xml
  imap_processing/tests/ialirt/test_data/l0/hit_ialirt_sample.ccsds
  imap_processing/tests/ialirt/test_data/l0/hit_ialirt_sample.csv
  imap_processing/tests/ialirt/unit/test_decom_ialirt.py
  imap_processing/tests/ialirt/unit/test_process_hit.py
Labels: I-ALiRT

#814 Pointing frame updates
  imap_processing/spice/kernels.py
  imap_processing/tests/spice/test_data/sim_1yr_imap_attitude.bc
  imap_processing/tests/spice/test_data/sim_1yr_imap_pointing_frame.bc
  imap_processing/tests/spice/test_kernels.py
Labels: SPICE

#838 BUG - fix for time kernels not loading during `imap_cli` command
  imap_processing/spice/kernels.py
  imap_processing/tests/spice/test_kernels.py
Labels: bug, SPICE

#831 Separate IDEX L1 into L1a and L1b
  docs/source/code-documentation/idex.rst
  docs/source/conf.py
  docs/source/development-guide/style-guide/naming-conventions.rst
  imap_processing/__init__.py
  imap_processing/cdf/config/imap_idex_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_idex_l1a_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/idex/idex_l0.py
  imap_processing/idex/idex_l1a.py
  imap_processing/idex/l0/__init__.py
  imap_processing/idex/l1/__init__.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_idex_l1a.py
Labels: Ins: IDEX, Level: L1

#844 Dependency documention
  docs/source/_static/architecture_overview.png
  docs/source/data-access/calibration-files.rst
  docs/source/data-access/data-dependency.rst
  docs/source/data-access/index.rst
  docs/source/data-access/openapi.yml
  docs/source/index.rst
Labels: Repo: Documentation

#847 Added SWAPI L3 levels to the list of valid levels
  imap_processing/__init__.py
  imap_processing/cdf/config/imap_swapi_global_cdf_attrs.yaml
Labels: Ins: SWAPI

#824 Spin data and Spin Phase function setup
  imap_processing/spice/geometry.py
  imap_processing/tests/conftest.py
  imap_processing/tests/spice/test_geometry.py
Labels: Level: L1, Level: L2, SPICE

#815 HIT sci decom - group packets & parse count rates
  imap_processing/hit/l0/decom_hit.py
  imap_processing/hit/packet_definitions/P_HIT_SCIENCE.xml
  imap_processing/hit/packet_definitions/hit_packet_definitions.xml
  imap_processing/tests/hit/test_data/sci_sample.ccsds
  imap_processing/tests/hit/test_hit_decom.py
Labels: Ins: HIT, Level: L0

#860 Lo L1A CDF YAML Reorganization
  imap_processing/cdf/config/imap_lo_l1a_variable_attrs.yaml
Labels: Ins: Lo, Level: L1, CDF

#858 ENH: Add "Parents" global attribute to datasets
  imap_processing/cdf/utils.py
  imap_processing/cli.py
  imap_processing/tests/cdf/test_utils.py
Labels: CDF

#857 MNT: Change default to use raw value in packet_file_to_datasets
  imap_processing/utils.py
Labels: packet parsing

#826 CoDICE data product organization refactor
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#872 Convert all hi instances of uint64 CDF variables to int64
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
Labels: Ins: Hi

#851 Ultra l1b species + start to l1b Annotated
  imap_processing/spice/geometry.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_annotated.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1b/ultra_l1b_annotated.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
Labels: SPICE

#878 REL/CI: Add wheel build to release
  .github/workflows/release.yml
Labels: Repo: Release
