Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2025-07, with the labels that each got.

#1866 Add new xtce file for Hi packet definitions that includes new MEMDMP …
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/hi/hi_l1a.py
  imap_processing/hi/hi_l1b.py
  imap_processing/hi/packet_definitions/TLM_HI_COMBINED_SCI.xml
  imap_processing/tests/hi/data/l1/imap_hi_90sensor-cal-prod_20240101_v001.csv
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/hi/test_l1a.py
Labels: Ins: Hi

#1879 Ultra l1a 897 - update to packet definitions
  imap_processing/tests/external_test_data_config.py
  imap_processing/tests/ultra/unit/test_decom_apid_897.py
  imap_processing/ultra/l0/ultra_utils.py
Labels: Ins: Ultra, Level: L1

#1878 Ultra l1a - add more apids 898, 899, 900, 901
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/tests/external_test_data_config.py
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_decom_apid_898.py
  imap_processing/tests/ultra/unit/test_decom_apid_899.py
  imap_processing/tests/ultra/unit/test_decom_apid_900.py
  imap_processing/tests/ultra/unit/test_decom_apid_901.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/packet_definitions/ULTRA_SCI_COMBINED.xml
Labels: Ins: Ultra, Level: L1

#1886 1885 write cdf default compression to 6
  imap_processing/cdf/utils.py
  imap_processing/tests/cdf/test_utils.py
Labels: CDF

#1898 Ultra l1a - add apid 889
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/tests/external_test_data_config.py
  imap_processing/tests/ultra/data/l0/ultra90_raw_sc_ultraenergyspctr_FM90_Startup_20230711T081655.csv
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_decom_apid_889.py
  imap_processing/tests/ultra/unit/test_decom_apid_898.py
  imap_processing/tests/ultra/unit/test_decom_apid_899.py
  imap_processing/tests/ultra/unit/test_decom_apid_900.py
  imap_processing/tests/ultra/unit/test_decom_apid_901.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l0/decom_tools.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
Labels: Ins: Ultra, Level: L1

#1864 Add Lo star tracker packet processing
  docs/source/code-documentation/lo.rst
  imap_processing/lo/l0/data_classes/star_sensor.py
  imap_processing/lo/l0/lo_star_sensor.py
  imap_processing/lo/l0/utils/lo_base.py
  imap_processing/lo/l1a/lo_l1a.py
  imap_processing/tests/lo/test_lo_l1a.py
  imap_processing/tests/lo/test_star_sensor.py
  imap_processing/tests/lo/validation_data/Instrument_FM1_T104_R129_20240803_ILO_STAR_EU_trimmed.csv
Labels: Ins: Lo, Level: L0, Level: L1

#1905 Ultra l1 - Adding memdump (868) and macdump (871)
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l0/ultra_utils.py
Labels: Ins: Ultra, Level: L1

#1904 Ultra l1a - adding cmdecho (apid 865)
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/tests/ultra/data/l0/ultra45_raw_hk_ultracmdecho_FM45_UltraFM45_Functional_2024-01-22T0105_20240122T010548.csv
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_decom_apid_865.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
Labels: Ins: Ultra, Level: L1

#1906 Implement center/delta epoch values for most CoDICE L1a products
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1b_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1910 New CoDICE L1a validation data
  imap_processing/tests/codice/conftest.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1907 Ultra l1a - add apid 872 (macroschecksum)
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/tests/ultra/data/l0/ultra45_raw_hk_macrochecksumrpt_FM45_UltraFM45_Functional_2024-01-22T0105_20240122T010548.csv
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_decom_apid_872.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
Labels: Ins: Ultra, Level: L1

#1917 CoDICE: Changed references of 'pha' to 'direct-events'
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_codice_l2_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/codice_l1b.py
  imap_processing/codice/codice_l2.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/conftest.py
  imap_processing/tests/codice/test_codice_l1a.py
  imap_processing/tests/external_test_data_config.py
Labels: Ins: CoDICE, Level: L1, Level: L2

#1930 I-ALiRT - quick update Kiel coordinates
  imap_processing/ialirt/constants.py
Labels: I-ALiRT

#1929 Ultra L1b extendedspin validation changes
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/quality_flags.py
  imap_processing/tests/ultra/data/l1/FM45_40P_Phi28p5_BeamCal_LinearScan_phi28.50_theta-0.00_ULTRA_ImageBasicRates_20240207T102740_.csv
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_badtimes.py
  imap_processing/tests/ultra/unit/test_cullingmask.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_culling.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1b/cullingmask.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1b/quality_flag_filters.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1911 Created cdf for Ultra l1c pset helio frame
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/tests/ultra/unit/test_ultra_l1c.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
  imap_processing/ultra/l1c/helio_pset.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1924 HIT L1A - fix attributes
  imap_processing/cdf/config/imap_hit_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_hit_l2_variable_attrs.yaml
  imap_processing/hit/l0/decom_hit.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/hit/test_hit_l2.py
Labels: bug, Ins: HIT, Level: L1, CDF

#1939 I-ALiRT - update swe to be broken into half cycles
  imap_processing/ialirt/l0/process_swe.py
  imap_processing/tests/ialirt/unit/test_process_swe.py
Labels: Ins: SWE, I-ALiRT

#1973 CoDICE: update compression lookup tables
  imap_processing/codice/constants.py
  imap_processing/tests/codice/test_decompress.py
Labels: Ins: CoDICE, Level: L1

#1968 SPICE - switch out science frame kernel
  imap_processing/spice/geometry.py
  imap_processing/spice/pointing_frame.py
  imap_processing/tests/spice/test_data/imap_ena_sim_metakernel.template
  imap_processing/tests/spice/test_data/imap_science_0001.tf
  imap_processing/tests/spice/test_data/imap_science_100.tf
  imap_processing/tests/spice/test_geometry.py
  imap_processing/tests/spice/test_pointing_frame.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_annotated.py
  imap_processing/tests/ultra/unit/test_ultra_l2.py
Labels: SPICE

#1971 ENH: Add more Lo APIDs
  imap_processing/ccsds/excel_to_xtce.py
  imap_processing/cdf/config/imap_lo_global_cdf_attrs.yaml
  imap_processing/lo/l0/lo_apid.py
  imap_processing/lo/l1a/lo_l1a.py
  imap_processing/lo/packet_definitions/lo_xtce.xml
  imap_processing/tests/ccsds/test_data/expected_output.xml
  imap_processing/tests/ccsds/test_excel_to_xtce.py
  imap_processing/tests/lo/test_lo_housekeeping.py
  imap_processing/tests/lo/test_lo_l1a.py
  imap_processing/tests/lo/validation_data/Instrument_FM1_T104_R129_20240803_ILO_APP_NHK_DN_trimmed.csv
  imap_processing/tests/lo/validation_data/Instrument_FM1_T104_R129_20240803_ILO_APP_NHK_EU_trimmed.csv
Labels: Ins: Lo, Level: L0, Level: L1, packet parsing

#1981 SPICE - Add new frames to geometry.py
  imap_processing/spice/geometry.py
  imap_processing/tests/spice/test_geometry.py
Labels: SPICE, Helper

#1980 I-ALiRT - Update ialirt cdf based on feedback
  imap_processing/cdf/config/imap_ialirt_l1_variable_attrs.yaml
  imap_processing/ialirt/l0/parse_mag.py
  imap_processing/ialirt/utils/constants.py
  imap_processing/ialirt/utils/create_xarray.py
  imap_processing/tests/ialirt/unit/test_create_xarray.py
Labels: I-ALiRT

#1950 SWE: L2 validation
  .pre-commit-config.yaml
  imap_processing/spice/spin.py
  imap_processing/swe/l1b/swe_l1b.py
  imap_processing/tests/conftest.py
  imap_processing/tests/external_test_data_config.py
  imap_processing/tests/swe/conftest.py
  imap_processing/tests/swe/l1_validation/swe_l0_unpacked-data_20240510_v001_VALIDATION_L1A.dat
  imap_processing/tests/swe/l1_validation/swe_l0_unpacked-data_20240510_v001_VALIDATION_L1B_v3.dat
  imap_processing/tests/swe/test_swe_l1a_science.py
  imap_processing/tests/swe/test_swe_l1b.py
  imap_processing/tests/swe/test_swe_l2.py
Labels: Ins: SWE
