Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2025-05, with the labels that each got.

#1666 HIT L2 - Add CDF attributes to yaml
  imap_processing/cdf/config/imap_hit_l2_variable_attrs.yaml
Labels: Ins: HIT, Level: L2, CDF

#1669 Ultra l1c pset helio histogram
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
Labels: Ins: Ultra, Level: L1

#1664 Naming utilities and tests
  imap_processing/ena_maps/utils/naming.py
  imap_processing/tests/ena_maps/utils/test_naming.py
Labels: Mapper Tools

#1671 add placeholder function for computing PSET backgrounds
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/hi/test_hi_l1c.py
Labels: Ins: Hi

#1680 HIT L2 - Add ancillary dependencies
  imap_processing/cli.py
  imap_processing/hit/l2/constants.py
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/test_data/ancillary/imap_hit_sectored-dt0-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_sectored-dt1-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_sectored-dt2-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_sectored-dt3-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_standard-dt0-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_standard-dt1-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_standard-dt2-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_standard-dt3-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_summed-dt0-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_summed-dt1-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_summed-dt2-factors_20250219_v002.csv
  imap_processing/tests/hit/test_data/ancillary/imap_hit_summed-dt3-factors_20250219_v002.csv
  imap_processing/tests/hit/test_hit_l1b.py
  imap_processing/tests/hit/test_hit_l2.py
Labels: Ins: HIT, Level: L2

#1674 IDEX housekeeping - Recalculate epoch time with respect to fine grained time
  imap_processing/cdf/config/imap_idex_global_cdf_attrs.yaml
  imap_processing/idex/idex_l0.py
  imap_processing/idex/idex_l1a.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_idex_l0.py
  imap_processing/tests/idex/test_idex_l1a.py
Labels: Ins: IDEX, packet parsing

#1678 Glows cdf updates
  imap_processing/cdf/config/imap_glows_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_glows_l2_variable_attrs.yaml
  imap_processing/cdf/utils.py
  imap_processing/cli.py
  imap_processing/glows/l1a/glows_l1a.py
  imap_processing/glows/l1b/glows_l1b.py
  imap_processing/glows/l2/glows_l2.py
  imap_processing/tests/glows/test_glows_l2.py
Labels: Ins: GLOWS

#1687 IDEX L2B Attributes
  imap_processing/cdf/config/imap_idex_l2b_variable_attrs.yaml
  imap_processing/idex/idex_l2b.py
Labels: Ins: IDEX

#1676 PULL exposure_factor rather than PUSH
  imap_processing/tests/ultra/unit/test_ultra_l2.py
  imap_processing/ultra/l2/ultra_l2.py
Labels: Ins: Ultra, Mapper Tools

#1694 I-ALiRT - Calculate current s/c attitude from raw spin phase and angular momentum
  imap_processing/ialirt/l0/ialirt_spice.py
  imap_processing/tests/ialirt/data/l0/MAGScience-IALiRT-20250421-13h16.csv
  imap_processing/tests/ialirt/unit/test_ialirt_spice.py
Labels: I-ALiRT

#1704 I-ALiRT - MAG validation with SC data
  imap_processing/ialirt/l0/parse_mag.py
  imap_processing/ialirt/utils/time.py
  imap_processing/tests/ialirt/unit/test_parse_mag.py
  imap_processing/tests/ialirt/unit/test_time.py
Labels: Ins: MAG, I-ALiRT

#1709 HIT L2 - Add attributes to L2 CDFs
  imap_processing/cdf/config/imap_hit_l2_variable_attrs.yaml
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/test_hit_l2.py
Labels: Ins: HIT, Level: L2, CDF

#1712 HIT - Rename 'declination' to 'zenith'
  imap_processing/cdf/config/imap_hit_l2_variable_attrs.yaml
  imap_processing/hit/l0/constants.py
  imap_processing/hit/l0/decom_hit.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/helpers/l1_validation.py
  imap_processing/tests/hit/test_decom_hit.py
  imap_processing/tests/hit/test_hit_l1b.py
  imap_processing/tests/hit/test_hit_l2.py
Labels: Ins: HIT

#1715 add kernel furnishing to InstrumentProcessing.pre_processing
  imap_processing/cli.py
  imap_processing/tests/test_cli.py
Labels: SPICE

#1707 Ultra l1c - cdf updates
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/tests/conftest.py
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_badtimes.py
  imap_processing/tests/ultra/unit/test_cullingmask.py
  imap_processing/tests/ultra/unit/test_de.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/ultra/l1b/badtimes.py
  imap_processing/ultra/l1b/cullingmask.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1, CDF

#1716 CoDICE L1a hi-pha (direct events) implementation/validation
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/data/validation/imap_codice_l1a_hi-pha_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
  imap_processing/tests/conftest.py
Labels: Ins: CoDICE, Level: L1

#1672 IDEX l2a rename variables and add util functions
  imap_processing/cdf/config/imap_idex_l1b_variable_attrs.yaml
  imap_processing/idex/idex_constants.py
  imap_processing/idex/idex_l1a.py
  imap_processing/idex/idex_l1b.py
  imap_processing/idex/idex_l2a.py
  imap_processing/idex/idex_l2b.py
  imap_processing/idex/idex_utils.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_idex_l1b.py
  imap_processing/tests/idex/test_idex_l2a.py
  imap_processing/tests/idex/test_idex_l2b.py
Labels: Ins: IDEX

#1706 1685 hi l2 l2 processing structure
  imap_processing/ena_maps/ena_maps.py
  imap_processing/hi/l2/__init__.py
  imap_processing/hi/l2/hi_l2.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  imap_processing/tests/hi/test_hi_l2.py
Labels: Ins: Hi, Level: L2

#1702 Remove code to split MAG packets by day
  imap_processing/cli.py
  imap_processing/mag/l1a/mag_l1a.py
  imap_processing/tests/mag/test_mag_l1a.py
Labels: Ins: MAG

#1725 HIT L2 - Fix ISTP errors
  imap_processing/cdf/config/imap_hit_l2_variable_attrs.yaml
Labels: Ins: HIT, Level: L2, CDF

#1723 Updates to pointing kernel generation
  imap_processing/spice/pointing_frame.py
  imap_processing/tests/spice/test_pointing_frame.py
Labels: SPICE

#1732 1730 ena skymap inheritance improvements
  imap_processing/ena_maps/ena_maps.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  imap_processing/tests/ultra/unit/test_ultra_l2.py
  imap_processing/ultra/l2/ultra_l2.py
Labels: Mapper Tools

#1737 CoDICE L1a hi-omni validation
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1714 Lo L1C - Initialize PSET
  imap_processing/cli.py
  imap_processing/lo/l1c/lo_l1c.py
  imap_processing/tests/lo/test_anc/imap_lo_goodtimes_20250415_v001.csv
  imap_processing/tests/lo/test_lo_l1c.py
Labels: Ins: Lo, Level: L1

#1724 IDEX L2A attributes
  imap_processing/cdf/config/imap_idex_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_idex_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_idex_l2a_variable_attrs.yaml
  imap_processing/idex/idex_l1a.py
  imap_processing/idex/idex_l2a.py
  imap_processing/tests/idex/test_idex_l2a.py
Labels: Ins: IDEX, CDF

#1743 1727 hi l2 dataset metadata for cdf
  imap_processing/cdf/config/imap_enamaps_l2-common_variable_attrs.yaml
  imap_processing/cdf/config/imap_enamaps_l2-healpix_variable_attrs.yaml
  imap_processing/cdf/config/imap_enamaps_l2-rectangular_variable_attrs.yaml
  imap_processing/cdf/config/imap_hi_global_cdf_attrs.yaml
  imap_processing/ena_maps/ena_maps.py
  imap_processing/hi/l2/hi_l2.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  imap_processing/tests/hi/test_hi_l2.py
Labels: Ins: Hi, Mapper Tools

#1742 I-ALiRT - Create a way to mimic attitude kernels
  imap_processing/ialirt/l0/ialirt_spice.py
  imap_processing/tests/ialirt/unit/test_ialirt_spice.py
  imap_processing/tests/spice/test_data/imap_ialirt_sim_metakernel.template
Labels: Ins: MAG, I-ALiRT

#1684 Ultra l1c - pset exposure and sensitivity
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/spacecraft_pset.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1731 Ultra l1c SIT4 Prep
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/tests/conftest.py
  imap_processing/tests/ultra/unit/test_spacecraft_pset.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1c.py
  imap_processing/ultra/l1c/spacecraft_pset.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1758 Lo L1C - PSET Exposure Time
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/lo/l1c/lo_l1c.py
  imap_processing/tests/lo/test_lo_l1b.py
  imap_processing/tests/lo/test_lo_l1c.py
Labels: Ins: Lo, Level: L1

#1682 IDEX Initial L2c processing
  imap_processing/cdf/config/imap_idex_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_idex_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_idex_l2c_variable_attrs.yaml
  imap_processing/idex/idex_constants.py
  imap_processing/idex/idex_l1b.py
  imap_processing/idex/idex_l2c.py
  imap_processing/idex/idex_utils.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_idex_l1b.py
  imap_processing/tests/idex/test_idex_l2a.py
  imap_processing/tests/idex/test_idex_l2b.py
  imap_processing/tests/idex/test_idex_l2c.py
Labels: Ins: IDEX, Level: L2

#1749 Ultra l1a - Add apids and modify the rates so that it is istp compliant
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/tests/conftest.py
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/l1b/ultra_l1b.py
Labels: Ins: Ultra, Level: L1

#1759 Add L2 to Hi do_processing
  imap_processing/cli.py
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/hi/l2/hi_l2.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/test_cli.py
Labels: Ins: Hi

#1772 Document Update For Query '--table' Param
  docs/source/data-access/openapi.yml
Labels: Repo: Documentation, Student

#1776 1729 add pointing frame kernel job to clipy
  imap_processing/__init__.py
  imap_processing/cli.py
  imap_processing/spice/pointing_frame.py
  imap_processing/tests/spice/test_pointing_frame.py
  imap_processing/tests/test_cli.py
  poetry.lock
  pyproject.toml
Labels: SPICE

#1763 I-ALiRT - SIT Prep Draft
  imap_processing/ialirt/l0/parse_mag.py
  imap_processing/ialirt/l0/process_hit.py
  imap_processing/ialirt/l0/process_swe.py
  imap_processing/ialirt/utils/grouping.py
  imap_processing/tests/ialirt/unit/conftest.py
  imap_processing/tests/ialirt/unit/test_parse_mag.py
  imap_processing/tests/ialirt/unit/test_process_hit.py
  imap_processing/tests/ialirt/unit/test_process_swe.py
Labels: Ins: HIT, Ins: SWE, I-ALiRT

#1785 Hi Processing fixes for SIT4
  imap_processing/cdf/config/imap_enamaps_l2-common_variable_attrs.yaml
  imap_processing/cdf/config/imap_enamaps_l2-healpix_variable_attrs.yaml
  imap_processing/cdf/config/imap_enamaps_l2-rectangular_variable_attrs.yaml
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/ena_maps/ena_maps.py
  imap_processing/hi/l2/hi_l2.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  imap_processing/tests/hi/test_hi_l2.py
  imap_processing/ultra/l2/ultra_l2.py
Labels: Ins: Hi, Ins: Ultra

#1794 Lo L1 - Update CLI and Minor Fixes to Dimensions
  imap_processing/cli.py
  imap_processing/lo/l1c/lo_l1c.py
  imap_processing/tests/lo/test_lo_l1c.py
Labels: bug

#1791 CoDICE L1a Updates for ISTP compliance
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
Labels: Ins: CoDICE, Level: L1, CDF

#1797 Lo L2 - Priority 1 H Flux HAE Uncorrected
  imap_processing/cdf/config/imap_enamaps_l2-common_variable_attrs.yaml
  imap_processing/cdf/config/imap_enamaps_l2-rectangular_variable_attrs.yaml
  imap_processing/cdf/config/imap_lo_global_cdf_attrs.yaml
  imap_processing/ena_maps/ena_maps.py
  imap_processing/lo/l2/lo_l2.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  imap_processing/tests/lo/test_lo_l2.py
Labels: Ins: Lo, Level: L2
