Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2025-06, with the labels that each got.

#1800 Lo L2 - Added L2 CLI processing and ISTP fixes
  imap_processing/cdf/config/imap_lo_global_cdf_attrs.yaml
  imap_processing/cli.py
  imap_processing/lo/l2/lo_l2.py
  imap_processing/tests/lo/test_lo_l2.py
Labels: Ins: Lo, Level: L2

#1804 Even more CoDICE L1a ISTP updates!
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
Labels: Ins: CoDICE, Level: L1, CDF

#1808 Tiny bugfix: fix energy independent `obs_date_range` metadata
  imap_processing/cdf/config/imap_enamaps_l2-common_variable_attrs.yaml
  imap_processing/cdf/config/imap_enamaps_l2-healpix_variable_attrs.yaml
  imap_processing/ultra/l2/ultra_l2.py
Labels: Ins: Ultra, Mapper Tools

#1812 Fix CoDICE CLI to work with extra input files
  imap_processing/cli.py
Labels: Ins: CoDICE

#1815 Ultra 90 - removed row with nans
  imap_processing/ultra/lookup_tables/Angular_Profiles_FM90_RightSlit.csv
Labels: bug

#1816 CoDICE L2 lo/hi direct-event SPASE metadata
  imap_processing/cdf/config/imap_codice_l2_variable_attrs.yaml
  imap_processing/codice/codice_l2.py
Labels: Ins: CoDICE, Level: L2

#1818 Lo and HIT - SIT-4 Bug fixes
  imap_processing/cli.py
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/lo/l1c/lo_l1c.py
Labels: bug, Ins: HIT, Ins: Lo, Level: L1, Level: L2

#1823 1822 hi restructure hi modules
  docs/source/code-documentation/hi.rst
  docs/source/conf.py
  imap_processing/cli.py
  imap_processing/hi/hi_l1a.py
  imap_processing/hi/hi_l1b.py
  imap_processing/hi/hi_l1c.py
  imap_processing/hi/hi_l2.py
  imap_processing/hi/l1a/__init__.py
  imap_processing/hi/l1a/hi_l1a.py
  imap_processing/hi/l1a/histogram.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/hi/l1b/__init__.py
  imap_processing/hi/l1c/__init__.py
  imap_processing/hi/l2/__init__.py
  imap_processing/hi/utils.py
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/hi/test_hi_l2.py
  imap_processing/tests/hi/test_l1a.py
  imap_processing/tests/hi/test_science_direct_event.py
Labels: Ins: Hi

#1830 Simplify CoDICE I-ALiRT processing into one module
  imap_processing/ialirt/l0/process_codice.py
  imap_processing/ialirt/l0/process_codicehi.py
  imap_processing/tests/ialirt/unit/test_process_codice.py
  imap_processing/tests/ialirt/unit/test_process_codicehi.py
  imap_processing/tests/ialirt/unit/test_process_codicelo.py
Labels: Ins: CoDICE, Level: L1, I-ALiRT

#1829 Add verification of hk packet decom
  imap_processing/tests/hi/data/l0/H90_NHK_20241104_verify.csv
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/hi/test_l1a.py
Labels: Ins: Hi

#1827 HIT L1B - Handle data gaps in sectored counts
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/tests/hit/test_hit_l1b.py
Labels: bug, Ins: HIT, Level: L1

#1832 Changes to CoDICE I-ALiRT processing in prepration for I-ALiRT SIT
  imap_processing/cdf/config/imap_ialirt_l1_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/ialirt/l0/process_codice.py
  imap_processing/tests/ialirt/unit/test_process_codice.py
Labels: Ins: CoDICE, Level: L1, Level: L2, I-ALiRT

#1834 I-ALiRT - update energies to list
  imap_processing/cdf/config/imap_ialirt_l1_variable_attrs.yaml
  imap_processing/ialirt/l0/process_hit.py
  imap_processing/ialirt/l0/process_swe.py
  imap_processing/ialirt/utils/constants.py
  imap_processing/ialirt/utils/create_xarray.py
  imap_processing/tests/ialirt/unit/test_create_xarray.py
  imap_processing/tests/ialirt/unit/test_process_swe.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: I-ALiRT

#1839 HIT L0 - change epoch to center collection time
  imap_processing/hit/l0/decom_hit.py
  imap_processing/tests/hit/test_decom_hit.py
Labels: Ins: HIT, Level: L0

#1843 Mock CoDICE I-ALiRT data now returns empty lists instead of a FILLVAL
  imap_processing/ialirt/l0/process_codice.py
Labels: Ins: CoDICE

#1844 1840 bug hi l1b hi constants tof2 bad values
  imap_processing/hi/utils.py
  imap_processing/tests/hi/test_hi_l1b.py
Labels: Ins: Hi

#1841 minor updates for sit
  imap_processing/ialirt/l0/process_codice.py
  imap_processing/ialirt/l0/process_swapi.py
  imap_processing/tests/ialirt/unit/test_process_swapi.py
Labels: bug, I-ALiRT

#1849 I-ALIRT - Quick fix to return empty list
  imap_processing/ialirt/l0/process_codice.py
Labels: Ins: CoDICE, I-ALiRT

#1865 Ultra l1a - energy events (apid 897)
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/tests/external_test_data_config.py
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_decom_apid_897.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l0/decom_tools.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
Labels: Ins: Ultra, Level: L1
