Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2025-02, with the labels that each got.

#1324 Make vectorization consistent across all time conversion functions
  imap_processing/spice/time.py
  imap_processing/tests/spice/test_time.py
Labels: SPICE

#1311 I-ALiRT SWAPI decom
  imap_processing/ialirt/packet_definitions/ialirt.xml
  imap_processing/ialirt/packet_definitions/ialirt_swapi.xml
  imap_processing/tests/ialirt/test_data/l0/BinLog CCSDS_FRAG_TLM_20240826_152323Z_IALIRT_data_for_SDC.bin
  imap_processing/tests/ialirt/test_data/l0/eu_SWP_IAL_20240826_152033.csv
  imap_processing/tests/ialirt/unit/test_process_swapi.py
Labels: I-ALiRT

#1320 CoDICE: More flexible way to defining dimensions
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1337 1266 spice general spin table query
  docs/source/code-documentation/spice.rst
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/idex/idex_l1b.py
  imap_processing/spice/geometry.py
  imap_processing/spice/spin.py
  imap_processing/swe/l2/swe_l2.py
  imap_processing/tests/spice/test_geometry.py
  imap_processing/tests/spice/test_spin.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
Labels: SPICE

#1344 SWE: Adding initial L2 data variables and CDF attrs
  imap_processing/cdf/config/imap_swe_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_swe_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_swe_l2_variable_attrs.yaml
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/swe/l2/swe_l2.py
  imap_processing/tests/swe/test_swe_l2.py
Labels: Ins: SWE, Level: L2, CDF

#1335 Add decompression code for IDEX L1A.
  docs/source/code-documentation/idex.rst
  imap_processing/idex/decode.py
  imap_processing/idex/idex_l1a.py
  imap_processing/idex/idex_l1b.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_data/compressed_2023_102_14_24_55.pkts
  imap_processing/tests/idex/test_data/imap_idex_l0_raw_20231214_v001.pkts
  imap_processing/tests/idex/test_data/impact_14_tof_high_data.txt
  imap_processing/tests/idex/test_data/non_compressed_2023_102_14_22_26.pkts
  imap_processing/tests/idex/test_idex_l0.py
  imap_processing/tests/idex/test_idex_l1a.py
  imap_processing/tests/test_utils.py
  poetry.lock
Labels: Ins: IDEX, Level: L1, packet parsing

#1346 1341 hi l1a de update to cdf definition
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/spice/time.py
  imap_processing/tests/hi/test_data/l1/imap_hi_l1a_45sensor-de_20250415_v999.cdf
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/hi/test_l1a.py
  imap_processing/tests/hi/test_science_direct_event.py
  imap_processing/tests/spice/test_time.py
Labels: Ins: Hi

#1323 Ultra l1b extendedspin Six Sigma + Attitude Culling
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/quality_flags.py
  imap_processing/tests/test_quality_flags.py
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_culling.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1b/badtimes.py
  imap_processing/ultra/l1b/cullingmask.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1345 CoDICE L1a lo-(n)sw-species and lo-(n)sw-priority validation
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/constants.py
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-nsw-priority_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-nsw-species_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-sw-priority_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-sw-species_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1347 MNT: Update SWAPI packet definitions
  imap_processing/swapi/packet_definitions/swapi_packet_definition.xml
  imap_processing/tests/test_utils.py
Labels: Ins: SWAPI, packet parsing

#1355 I-ALiRT - Decom for SWE
  imap_processing/ialirt/packet_definitions/ialirt_swe.xml
  imap_processing/tests/ialirt/test_data/l0/20240827095047_SWE_IALIRT_packet.bin
  imap_processing/tests/ialirt/test_data/l0/idle_export_eu.SWE_IALIRT_20240827_093852.csv
  imap_processing/tests/ialirt/unit/test_process_swe.py
Labels: Ins: SWE, I-ALiRT

#1354 Ultra l1b - Bugs fixed for cdf creation
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1293 1170 hi l1c define mapping from coincidence to calibration product
  .gitignore
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/hi/test_data/l1/imap_his_pset-calibration-prod-config_20240101_v001.csv
  imap_processing/tests/hi/test_hi_l1c.py
Labels: Ins: Hi

#1351 HIT L1B - validate standard rates data
  imap_processing/tests/hit/helpers/l1_validation.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/hit/test_hit_l1b.py
  imap_processing/tests/hit/validation_data/hit_l1b_standard_sample2_nsrl_v4_3decimals.csv
Labels: Ins: HIT, Level: L1, Req: Data Product Validation

#1364 Add fill_value keyword to dataarray creation utilities
  imap_processing/hi/utils.py
  imap_processing/tests/hi/test_utils.py
Labels: Ins: Hi

#1339 Create Lo L1A Spin CDF
  imap_processing/cdf/config/imap_lo_l1a_variable_attrs.yaml
  imap_processing/lo/l0/lo_science.py
  imap_processing/lo/l1a/lo_l1a.py
  imap_processing/tests/lo/test_lo_l1a.py
  imap_processing/tests/lo/test_lo_science.py
  imap_processing/tests/lo/validation_data/Instrument_FM1_T104_R129_20240803_ILO_SPIN_EU.csv
Labels: Ins: Lo, Level: L1, CDF

#1365 Update how the esa_energy_step of a PSET is generated
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/hi/test_hi_l1c.py
Labels: Ins: Hi

#1356 glows L1A attribute fixes
  imap_processing/cdf/config/imap_glows_l1a_variable_attrs.yaml
  imap_processing/glows/l1a/glows_l1a.py
Labels: Ins: GLOWS, CDF

#1357 SWE: Put data into spin angle bins and add remaining CDF attrs
  imap_processing/cdf/config/imap_swe_l2_variable_attrs.yaml
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/swe/l2/swe_l2.py
  imap_processing/swe/utils/swe_utils.py
  imap_processing/tests/spice/test_spin.py
  imap_processing/tests/swe/test_swe_l2.py
Labels: Ins: SWE, Level: L2

#551 [WIP] Technology Stack docs
  docs/source/development/doc-overview.rst
  docs/source/development/docker.rst
  docs/source/development/getting-started.rst
  docs/source/development/index.rst
  docs/source/development/release-workflow.rst
  docs/source/development/style-guide/checklist-for-pull-requests.rst
  docs/source/development/style-guide/git-and-github-workflow.rst
  docs/source/development/style-guide/naming-conventions.rst
  docs/source/development/style-guide/poetry-environment.rst
  docs/source/development/style-guide/python-coding.rst
  docs/source/development/style-guide/python-docstrings.rst
  docs/source/development/style-guide/review-standards.rst
  docs/source/development/style-guide/security.rst
  docs/source/development/style-guide/style-guide.rst
  docs/source/development/style-guide/tools-and-library-recommendations.rst
  docs/source/development/style-guide/versioning.rst
  docs/source/development/technology-stack.rst
  docs/source/index.rst
Labels: Repo: Documentation

#1358 CoDICE L1a lo-counters-aggregated and lo-counters-singles validation
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-counters-aggregated_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-counters-singles_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1361 Updates/improvements to CoDICE L0 and L1a hskp testing/validation
  imap_processing/tests/codice/data/eu_unit_lookup_table.csv
  imap_processing/tests/codice/data/idle_export_eu.COD_NHK_20230822_122700 2.csv
  imap_processing/tests/codice/data/idle_export_raw.COD_NHK_20230822_122700.csv
  imap_processing/tests/codice/data/validation/imap_codice_l1a_hskp_20241110193622_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l0.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L0, Level: L1

#1371 Added new members to contributors section of README
  .all-contributorsrc
  README.md
Labels: Repo: Documentation

#1367 MAG new tests and a bugfix for range
  imap_processing/mag/l1a/mag_l1a.py
  imap_processing/mag/l1a/mag_l1a_data.py
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/mag/conftest.py
  imap_processing/tests/mag/test_mag_decom.py
  imap_processing/tests/mag/test_mag_l1a.py
  imap_processing/tests/mag/test_mag_l1b.py
  imap_processing/tests/mag/test_mag_validation.py
  imap_processing/tests/mag/validation/L1a/T001/all_p_ones.txt
  imap_processing/tests/mag/validation/L1a/T001/mag-l0-l1a-t001-in.bin
  imap_processing/tests/mag/validation/L1a/T001/mag-l0-l1a-t001-out.csv
  imap_processing/tests/mag/validation/L1a/T002/all_n_ones.txt
  imap_processing/tests/mag/validation/L1a/T002/mag-l0-l1a-t002-in.bin
  imap_processing/tests/mag/validation/L1a/T002/mag-l0-l1a-t002-out.csv
  imap_processing/tests/mag/validation/L1a/T003/field_like.txt
  imap_processing/tests/mag/validation/L1a/T003/mag-l0-l1a-t003-in.bin
  imap_processing/tests/mag/validation/L1a/T003/mag-l0-l1a-t003-out.csv
  imap_processing/tests/mag/validation/L1a/T004/field_like.txt
  imap_processing/tests/mag/validation/L1a/T004/mag-l0-l1a-t004-in.bin
  imap_processing/tests/mag/validation/L1a/T004/mag-l0-l1a-t004-out.csv
  imap_processing/tests/mag/validation/L1a/T005/field_like_range_change.txt
  imap_processing/tests/mag/validation/L1a/T005/mag-l0-l1a-t005-in.bin
  imap_processing/tests/mag/validation/L1a/T005/mag-l0-l1a-t005-out.csv
  imap_processing/tests/mag/validation/L1a/T006/hdr_field.txt
  imap_processing/tests/mag/validation/L1a/T006/mag-l0-l1a-t006-in.bin
  imap_processing/tests/mag/validation/L1a/T006/mag-l0-l1a-t006-out.csv
  imap_processing/tests/mag/validation/L1a/T007/hdr_field_and_range_change.txt
  imap_processing/tests/mag/validation/L1a/T007/mag-l0-l1a-t007-in.bin
  imap_processing/tests/mag/validation/L1a/T007/mag-l0-l1a-t007-out.csv
  imap_processing/tests/mag/validation/L1a/T008/field_like_range_change.txt
  imap_processing/tests/mag/validation/L1a/T008/mag-l0-l1a-t008-in.bin
  imap_processing/tests/mag/validation/L1a/T008/mag-l0-l1a-t008-out.csv
  imap_processing/tests/mag/validation/L1b/T009/data.bin
  imap_processing/tests/mag/validation/L1b/T009/field_like_all_ranges.txt
  imap_processing/tests/mag/validation/L1b/T009/mag-l1a-l1b-t009-in.csv
  imap_processing/tests/mag/validation/L1b/T009/mag-l1a-l1b-t009-magi-out.csv
  imap_processing/tests/mag/validation/L1b/T009/mag-l1a-l1b-t009-mago-out.csv
  imap_processing/tests/mag/validation/L1b/T010/data.bin
  imap_processing/tests/mag/validation/L1b/T010/field_like_all_ranges.txt
  imap_processing/tests/mag/validation/L1b/T010/mag-l1a-l1b-t010-in.csv
  imap_processing/tests/mag/validation/L1b/T010/mag-l1a-l1b-t010-magi-out.csv
  imap_processing/tests/mag/validation/L1b/T010/mag-l1a-l1b-t010-mago-out.csv
  imap_processing/tests/mag/validation/L1b/T011/data.bin
  imap_processing/tests/mag/validation/L1b/T011/field_like_all_ranges.txt
  imap_processing/tests/mag/validation/L1b/T011/mag-l1a-l1b-t011-in.csv
  imap_processing/tests/mag/validation/L1b/T011/mag-l1a-l1b-t011-magi-out.csv
  imap_processing/tests/mag/validation/L1b/T011/mag-l1a-l1b-t011-mago-out.csv
  imap_processing/tests/mag/validation/imap_mag_l1a_norm-magi_20251017_v001.cdf
  imap_processing/tests/mag/validation/mag_l0_test_data.pkts
  imap_processing/tests/mag/validation/mag_l0_test_output.csv
  imap_processing/tests/mag/validation/mag_l1_test_data.pkts
  imap_processing/tests/mag/validation/mag_l1a_test_output.csv
Labels: bug, Ins: MAG, Level: L1

#1359 Ultra l1b data products
  imap_processing/tests/ultra/unit/test_badtimes.py
  imap_processing/tests/ultra/unit/test_cullingmask.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_culling.py
  imap_processing/ultra/l1b/badtimes.py
  imap_processing/ultra/l1b/cullingmask.py
  imap_processing/ultra/l1b/ultra_l1b.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
Labels: Ins: Ultra, Level: L1

#1374 1366 hi l1a l1b replace met ns with float64 seconds
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/tests/conftest.py
  imap_processing/tests/hi/conftest.py
  imap_processing/tests/hi/data/l0/20231030_H45_APP_NHK.bin
  imap_processing/tests/hi/data/l0/20231030_H45_APP_NHK.csv
  imap_processing/tests/hi/data/l0/20231030_H45_SCI_CNT.bin
  imap_processing/tests/hi/data/l0/20231030_H45_SCI_DE.bin
  imap_processing/tests/hi/data/l0/H90_NHK_20241104.bin
  imap_processing/tests/hi/data/l0/H90_sci_cnt_20241104.bin
  imap_processing/tests/hi/data/l0/H90_sci_de_20241104.bin
  imap_processing/tests/hi/data/l0/README.txt
  imap_processing/tests/hi/data/l1/imap_hi_l1b_45sensor-de_20250415_v999.cdf
  imap_processing/tests/hi/data/l1/imap_his_pset-calibration-prod-config_20240101_v001.csv
  imap_processing/tests/hi/test_data/l1/imap_hi_l1a_45sensor-de_20250415_v999.cdf
  imap_processing/tests/hi/test_hi_l1b.py
Labels: Ins: Hi, CDF

#1376 MAG L1B
  imap_processing/mag/l1a/mag_l1a_data.py
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/mag/conftest.py
  imap_processing/tests/mag/test_mag_l1b.py
  imap_processing/tests/mag/test_mag_validation.py
  imap_processing/tests/mag/validation/L1b/T009/MAGScience-normal-(2,2)-8s-20250204-16h39.csv
  imap_processing/tests/mag/validation/L1b/T009/mag-l1a-l1b-t009-magi-out.csv
  imap_processing/tests/mag/validation/L1b/T009/mag-l1a-l1b-t009-mago-out.csv
  imap_processing/tests/mag/validation/L1b/T010/MAGScience-normal-(2,2)-8s-20250206-12h05.csv
  imap_processing/tests/mag/validation/L1b/T011/MAGScience-normal-(2,2)-8s-20250204-16h08.csv
  imap_processing/tests/mag/validation/L1b/T011/mag-l1a-l1b-t011-magi-out.csv
  imap_processing/tests/mag/validation/L1b/T011/mag-l1a-l1b-t011-mago-out.csv
Labels: Ins: MAG

#1369 HIT L1B - add algorithm for summed rates product
  imap_processing/hit/l1b/constants.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/tests/hit/test_hit_l1b.py
Labels: Ins: HIT, Level: L1

#1379 SWE: L2 update from SWE and I-ALiRT Discussion and added SPASE metadata
  imap_processing/cdf/config/imap_swe_l2_variable_attrs.yaml
  imap_processing/swe/l1a/swe_science.py
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/swe/l2/swe_l2.py
  imap_processing/swe/utils/swe_constants.py
  imap_processing/swe/utils/swe_utils.py
  imap_processing/tests/swe/test_swe_l1b_science.py
  imap_processing/tests/swe/test_swe_l2.py
Labels: Ins: SWE

#1380 Mag l1B timeshift
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/mag/conftest.py
  imap_processing/tests/mag/test_mag_l1b.py
  imap_processing/tests/mag/test_mag_validation.py
  imap_processing/tests/mag/validation/L1b/T012/MAGScience-normal-(2,2)-8s-20250204-16h08.csv
  imap_processing/tests/mag/validation/L1b/T012/data.bin
  imap_processing/tests/mag/validation/L1b/T012/field_like_all_ranges.txt
  imap_processing/tests/mag/validation/L1b/T012/mag-l1a-l1b-t012-cal.cdf
  imap_processing/tests/mag/validation/L1b/T012/mag-l1a-l1b-t012-in.csv
  imap_processing/tests/mag/validation/L1b/T012/mag-l1a-l1b-t012-magi-out.csv
  imap_processing/tests/mag/validation/L1b/T012/mag-l1a-l1b-t012-mago-out.csv
  imap_processing/tests/mag/validation/imap_calibration_mag_20240229_v01.cdf
Labels: Ins: MAG

#1403 1401 hi l1c pset find second de packet data
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/hi/test_hi_l1c.py
Labels: Ins: Hi

#1400 Fix CoDICE-lo L1a validation discrepencies
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/decompress.py
  imap_processing/tests/codice/data/imap_codice_l1a_hi-counters-aggregated_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_hi-counters-singles_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_hi-omni_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_hi-sectored_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_hskp_20100101_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_lo-counters-aggregated_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_lo-counters-singles_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_lo-nsw-angular_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_lo-nsw-priority_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_lo-nsw-species_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_lo-sw-angular_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_lo-sw-priority_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1a_lo-sw-species_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_hi-counters-aggregated_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_hi-counters-singles_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_hi-omni_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_hi-sectored_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_hskp_20100101_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_lo-counters-aggregated_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_lo-counters-singles_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_lo-nsw-angular_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_lo-nsw-priority_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_lo-nsw-species_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_lo-sw-angular_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_lo-sw-priority_20240429_v001.cdf
  imap_processing/tests/codice/data/imap_codice_l1b_lo-sw-species_20240429_v001.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-counters-aggregated_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-counters-singles_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-nsw-angular_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-nsw-priority_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-nsw-species_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-sw-angular_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-sw-priority_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-sw-species_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
  imap_processing/tests/codice/test_decompress.py
Labels: Ins: CoDICE, Level: L1

#1399 Exclude certain variables in CoDICE housekeeping products
  imap_processing/codice/codice_l1a.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1
