Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2025-01, with the labels that each got.

#1253 1148 hi l1c populate despun z
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/spice/geometry.py
  imap_processing/tests/hi/test_hi_l1c.py
Labels: Ins: Hi

#1244 IDEX l1b add trigger settings to output CDF
  imap_processing/cdf/config/imap_idex_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_idex_l1b_variable_attrs.yaml
  imap_processing/idex/idex_l1a.py
  imap_processing/idex/idex_l1b.py
  imap_processing/tests/idex/test_idex_l0.py
  imap_processing/tests/idex/test_idex_l1b.py
Labels: Ins: IDEX, Level: L1, CDF

#1252 Document that PSET epoch represents the center time bin in the pointing set
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/hi/test_hi_l1c.py
Labels: Ins: Hi

#1242 Ultra l1b velocity revisions
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/tests/ultra/test_data/l0/ultra45_raw_sc_ultrarawimg_withFSWcalcs_FM45_40P_Phi28p5_BeamCal_LinearScan_phi2850_theta-000_20240207T102740.csv
  imap_processing/tests/ultra/unit/test_de.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1256 1255 spice write function to transform azel coordinates between frames
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/spice/geometry.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/spice/test_geometry.py
Labels: SPICE

#1261 Update docstring as requested by Nat in PR
  imap_processing/spice/geometry.py
Labels: SPICE

#1239 Glows L2 Base processing
  imap_processing/cdf/config/imap_glows_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_glows_l2_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/glows/__init__.py
  imap_processing/glows/ancillary/imap_glows_pipeline_settings_v001.json
  imap_processing/glows/l1b/glows_l1b.py
  imap_processing/glows/l1b/glows_l1b_data.py
  imap_processing/glows/l2/glows_l2.py
  imap_processing/glows/l2/glows_l2_data.py
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/glows/conftest.py
  imap_processing/tests/glows/test_glows_l2.py
Labels: Ins: GLOWS, Level: L2

#1268 CoDICE L1a CDF attrs improvements
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
Labels: Ins: CoDICE, Level: L1

#1254 CoDICE lo-(n)sw-angluar validation
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/codice/data/lo_stepping_values.csv
  imap_processing/tests/codice/conftest.py
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-nsw-angular_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-sw-angular_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1269 Updating Ancillary Documentation
  docs/source/data-access/calibration-files.rst
Labels: Repo: Documentation

#1264 ENA Maps: Bin values at indices
  imap_processing/ena_maps/map_utils.py
  imap_processing/tests/ena_maps/test_map_utils.py
Labels: Ins: Hi, Ins: Lo, Ins: Ultra, Mapper Tools

#1273 Update CoDICE-Lo energy table
  imap_processing/codice/data/esa_sweep_values.csv
Labels: Ins: CoDICE, Level: L1

#1275 CoDICE: conversion factor for spin period
  imap_processing/codice/codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1265 Ultra l1b - Extendedspin First Pass
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/quality_flags.py
  imap_processing/tests/test_quality_flags.py
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_de.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_culling.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
Labels: Ins: Ultra, Level: L1

#1262 CoDICE: Calculate epoch values from acq_start_seconds instead of shcoarse
  imap_processing/codice/codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1291 MNT: Add direct casting for IntEnums to Numpy
  imap_processing/hi/l1b/hi_l1b.py
Labels: Ins: Hi

#1302 HIT L1B standard rates
  imap_processing/cdf/config/imap_hit_global_cdf_attrs.yaml
  imap_processing/hit/l0/constants.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/tests/hit/test_decom_hit.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/hit/test_hit_l1b.py
Labels: Ins: HIT, Level: L1

#1267 SWE: Adding ability to read in-flight calibration file
  imap_processing/cdf/config/imap_swe_l1b_variable_attrs.yaml
  imap_processing/cli.py
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/swe/l2/swe_l2.py
  imap_processing/tests/swe/test_swe_l1b.py
  imap_processing/tests/swe/test_swe_l1b_science.py
  imap_processing/tests/swe/test_swe_l2.py
Labels: Ins: SWE, Level: L1

#1303 SWE: Flux units and conversion factor correction
  imap_processing/swe/l2/swe_l2.py
Labels: Ins: SWE

#1307 HIT L1A - add uncertainty data
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/hit/test_hit_l1b.py
Labels: Ins: HIT, Level: L1

#1284 Add SPICE data (ephemeris, attitude, and celestial coords) to IDEX l1b CDF
  imap_processing/cdf/config/imap_idex_l1b_variable_attrs.yaml
  imap_processing/idex/idex_l1b.py
  imap_processing/spice/geometry.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_idex_l1b.py
  imap_processing/tests/spice/test_geometry.py
Labels: Ins: IDEX, Level: L1, SPICE

#1288 Ultra l1b - extendedspin data structure
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/quality_flags.py
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_de.py
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_culling.py
  imap_processing/tests/ultra/unit/test_ultra_l1c.py
  imap_processing/ultra/l1b/badtimes.py
  imap_processing/ultra/l1b/cullingmask.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1b/ultra_l1b.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
  imap_processing/ultra/l1c/histogram.py
  imap_processing/ultra/l1c/pset.py
  imap_processing/ultra/l1c/ultra_l1c.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra

#1300 Move Spatial Utils, Fix bug in Spatial Utils with indexing of the azimuth and elevation grids
  imap_processing/ena_maps/utils/map_utils.py
  imap_processing/ena_maps/utils/spatial_utils.py
  imap_processing/tests/ena_maps/test_map_utils.py
  imap_processing/tests/ena_maps/test_spatial_utils.py
  imap_processing/tests/ultra/unit/test_spatial_utils.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
  imap_processing/ultra/utils/spatial_utils.py
Labels: Ins: Ultra, Mapper Tools

#1312 MNT: Rename spice -> spiceypy
  imap_processing/ialirt/process_ephemeris.py
  imap_processing/spice/geometry.py
  imap_processing/spice/kernels.py
  imap_processing/spice/time.py
  imap_processing/tests/conftest.py
  imap_processing/tests/spice/test_geometry.py
  imap_processing/tests/spice/test_kernels.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_annotated.py
  tools/spice/spice_examples.py
  tools/spice/spice_utils.py
  tools/tests/unit/test_spice_examples.py
  tools/tests/unit/test_spice_utils.py
Labels: SPICE

#1321 Excluding tests from build
  poetry.lock
  pyproject.toml
Labels: bug

#1308 Decom and Organize Lo L1A Spin Data
  imap_processing/lo/l0/lo_science.py
  imap_processing/lo/l1a/lo_l1a.py
  imap_processing/lo/packet_definitions/lo_xtce.xml
  imap_processing/tests/lo/test_lo_science.py
Labels: Ins: Lo, Level: L0, Level: L1

#1301 Glows obs day updates
  imap_processing/glows/l1a/glows_l1a.py
  imap_processing/glows/l1b/glows_l1b_data.py
  imap_processing/tests/glows/conftest.py
  imap_processing/tests/glows/test_glows_l1a_cdf.py
  imap_processing/tests/glows/test_glows_l1a_data.py
  imap_processing/tests/glows/test_glows_l1b_data.py
  imap_processing/tests/glows/test_glows_l2.py
Labels: Ins: GLOWS
