Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2025-08, with the labels that each got.

#2023 I-ALiRT - MAG Gradiometry Code
  imap_processing/ialirt/l0/parse_mag.py
  imap_processing/tests/ialirt/unit/test_parse_mag.py
Labels: Ins: MAG, I-ALiRT

#2001 HIT - implement handling for data spanning midnight
  imap_processing/cdf/config/imap_hit_global_cdf_attrs.yaml
  imap_processing/cli.py
  imap_processing/hit/l0/constants.py
  imap_processing/hit/l0/decom_hit.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/tests/hit/helpers/l1_validation.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/hit/test_hit_l1b.py
  imap_processing/tests/hit/test_hit_l2.py
Labels: Ins: HIT, Level: L1

#2004 2003 hi l1b function to generate esa step to esa energy step lut
  docs/source/conf.py
  imap_processing/hi/hi_l1b.py
  imap_processing/hi/utils.py
  imap_processing/tests/hi/data/l1/imap_hi_90sensor-cal-prod_20240101_v001.csv
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/hi/test_utils.py
Labels: Ins: Hi

#2022 CoDICE: Implement despinning algorithm for lo-(n)sw-[angular|priority] products
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#2025 Upgrade cdflib to 1.3.6
  poetry.lock
  pyproject.toml
Labels: bug, CDF

#2051 CoDICE: Add some placeholder code for L2 processing
  imap_processing/codice/codice_l2.py
Labels: Ins: CoDICE, Level: L2

#2031 I-ALiRT - ingest plots
  imap_processing/ialirt/calculate_ingest.py
  imap_processing/ialirt/generate_coverage.py
  imap_processing/tests/ialirt/data/l0/flight_iois_1.log.2025-212T16_55_27.531613
  imap_processing/tests/ialirt/data/l0/ialirt_test_data.csv
  imap_processing/tests/ialirt/unit/test_calculate_ingest.py
  imap_processing/tests/ialirt/unit/test_process_swapi.py
Labels: I-ALiRT

#2063 Ultra l1c pset background rates
  imap_processing/tests/ultra/unit/test_ultra_l1b_culling.py
  imap_processing/tests/ultra/unit/test_ultra_l1c.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
  imap_processing/ultra/l1c/ultra_l1c.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
Labels: Ins: Ultra, Level: L1

#2066 Update expected esa voltages for each energy step in template/test file
  imap_processing/tests/hi/data/l1/imap_hi_90sensor-esa-energies_20240101_v001.csv
Labels: Ins: Hi

#2069 Flag Ultra l1b Scattering
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/quality_flags.py
  imap_processing/tests/ultra/unit/test_lookup_utils.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_culling.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/lookup_utils.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
Labels: Ins: Ultra, Level: L1

#2036 Add spin-phase filtering to Hi L2
  imap_processing/ena_maps/ena_maps.py
  imap_processing/hi/hi_l2.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  imap_processing/tests/hi/test_hi_l2.py
Labels: Ins: Hi, Level: L2

#2072 IDEX handle missing science acquisition events
  imap_processing/idex/idex_l2b.py
  imap_processing/tests/idex/test_idex_l2b.py
Labels: Ins: IDEX, Level: L2

#2096 Remove uses of spiceypy.kclear() and spiceypy.furnsh() from tests
  imap_processing/tests/spice/test_pointing_frame.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_annotated.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_culling.py
Labels: SPICE

#2087 1681 hi l2 geometric factor and esa energy lookup
  imap_processing/hi/hi_l2.py
  imap_processing/tests/conftest.py
  imap_processing/tests/hi/test_hi_l2.py
Labels: Ins: Hi

#2091 MNT: Update Lo L1c pointing set dimensions and attribute naming
  imap_processing/cdf/config/imap_lo_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_lo_l1c_variable_attrs.yaml
  imap_processing/ena_maps/ena_maps.py
  imap_processing/lo/l1c/lo_l1c.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  imap_processing/tests/lo/test_lo_l1c.py
  imap_processing/tests/lo/test_lo_l2.py
Labels: Ins: Lo, Level: L1

#2089 2053 spin update instrument spin phase definition
  imap_processing/spice/geometry.py
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/spice/test_geometry.py
  imap_processing/tests/spice/test_spin.py
  imap_processing/tests/swe/test_swe_l2.py
Labels: SPICE

#2109 Updated CoDICE descriptors naming conventions
  docs/source/data-access/naming-conventions.rst
Labels: Repo: Documentation, Ins: CoDICE

#2113 Ultra l1b Extendedspin Validation
  docs/source/code-documentation/ultra.rst
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/tests/ultra/unit/test_badtimes.py
  imap_processing/tests/ultra/unit/test_goodtimes.py
  imap_processing/tests/ultra/unit/test_spacecraft_pset.py
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1c.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1b/badtimes.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1b/goodtimes.py
  imap_processing/ultra/l1b/ultra_l1b.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
  imap_processing/ultra/l1c/helio_pset.py
  imap_processing/ultra/l1c/spacecraft_pset.py
  imap_processing/ultra/l1c/ultra_l1c.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#2097 Ultra l1c pset - Create a flag for pixels that "see" the Earth
  imap_processing/cdf/config/imap_ultra_l1c_variable_attrs.yaml
  imap_processing/quality_flags.py
  imap_processing/tests/ultra/unit/test_spacecraft_pset.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/tests/ultra/unit/test_ultra_l1c.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_culling.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
  imap_processing/ultra/l1c/helio_pset.py
  imap_processing/ultra/l1c/spacecraft_pset.py
  imap_processing/ultra/l1c/ultra_l1c_culling.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#2117 Ultra l1c - remove histogram data product
  docs/source/code-documentation/ultra.rst
  imap_processing/tests/ultra/unit/test_spacecraft_pset.py
  imap_processing/tests/ultra/unit/test_ultra_l1c.py
  imap_processing/ultra/l1c/helio_pset.py
  imap_processing/ultra/l1c/histogram.py
  imap_processing/ultra/l1c/spacecraft_pset.py
  imap_processing/ultra/l1c/ultra_l1c.py
Labels: Ins: Ultra, Level: L1
