Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2025-04, with the labels that each got.

#1557 IDEX L1B validation
  imap_processing/cdf/config/imap_idex_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_idex_l1b_variable_attrs.yaml
  imap_processing/idex/idex_l1a.py
  imap_processing/idex/idex_l1b.py
  imap_processing/idex/idex_variable_unpacking_and_eu_conversion.csv
  imap_processing/tests/conftest.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_idex_l1b.py
Labels: Ins: IDEX, Req: Data Product Validation

#1563 1270 hi l1b hk direct from L0
  imap_processing/cli.py
  imap_processing/hi/l1a/hi_l1a.py
  imap_processing/hi/l1b/hi_eng_unit_convert_table.csv
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/test_cli.py
Labels: Ins: Hi

#1551 Mag L2 first pass
  imap_processing/cdf/config/imap_mag_global_cdf_attrs.yaml
  imap_processing/cli.py
  imap_processing/mag/l1a/mag_l1a.py
  imap_processing/mag/l1b/__init__.py
  imap_processing/mag/l2/mag_l2.py
  imap_processing/mag/l2/mag_l2_data.py
  imap_processing/tests/mag/conftest.py
  imap_processing/tests/mag/test_mag_l1b.py
  imap_processing/tests/mag/test_mag_l2.py
  imap_processing/tests/mag/validation/calibration/imap_mag_l1b-calibration_20240229_v001.cdf
Labels: Ins: MAG

#1562 Ultra l1c pset - add energy interval
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1c_variable_attrs.yaml
  imap_processing/ultra/constants.py
  imap_processing/ultra/l1c/spacecraft_pset.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1567 ENH: Add a spacecraft CLI parser
  imap_processing/__init__.py
  imap_processing/cli.py
  imap_processing/tests/test_cli.py
Labels: Level: L0, Level: L1

#1550 Ultra l1a cleanup
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_decom_apid_880.py
  imap_processing/tests/ultra/unit/test_decom_apid_881.py
  imap_processing/tests/ultra/unit/test_decom_apid_883.py
  imap_processing/tests/ultra/unit/test_decom_apid_896.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/l0/decom_tools.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/lookup_utils.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
Labels: Ins: Ultra, Level: L1

#1558 IDEX l2b processing and tests.
  docs/source/code-documentation/idex.rst
  imap_processing/cdf/config/imap_idex_global_cdf_attrs.yaml
  imap_processing/idex/idex_l2a.py
  imap_processing/idex/idex_l2b.py
  imap_processing/spice/time.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_idex_l1b.py
  imap_processing/tests/idex/test_idex_l2a.py
  imap_processing/tests/idex/test_idex_l2b.py
  imap_processing/tests/spice/test_time.py
Labels: Ins: IDEX, Level: L2

#1581 Lo L1B - Fixed CLI dependency loop
  imap_processing/cli.py
Labels: Ins: Lo, Level: L1

#1584 1575 spice update spin and repoint table to have utc columns
  docs/source/code-documentation/spice.rst
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/spice/repoint.py
  imap_processing/spice/spin.py
  imap_processing/tests/conftest.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/spice/test_data/fake_repoint_data.csv
  imap_processing/tests/spice/test_data/fake_spin_data.csv
  imap_processing/tests/spice/test_repoint.py
  imap_processing/tests/spice/test_spin.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
Labels: SPICE

#1577 HIT L1B - process sectored rates dataset
  imap_processing/hit/hit_utils.py
  imap_processing/hit/l1b/constants.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/tests/hit/test_hit_l1b.py
Labels: Ins: HIT, Level: L1

#1592 MNT: Bring parent file handling into the post-processing step
  imap_processing/cdf/utils.py
  imap_processing/cli.py
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/cdf/test_utils.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/test_cli.py
  pyproject.toml
Labels: CDF

#1591 Ultra l1a new xtce
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l0/ultra_utils.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/packet_definitions/README.md
  imap_processing/ultra/packet_definitions/ULTRA_SCI_COMBINED.xml
Labels: Ins: Ultra, Level: L1

#1601 Covert exposure times from units of clock-ticks to seconds
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/hi/test_hi_l1c.py
Labels: Ins: Hi

#1588 Lo L1B - Set Direct Event Epoch Field
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/tests/lo/test_lo_l1b.py
Labels: Ins: Lo

#1609 Lo L1B - Calculate TOF1 and Set Coincidence Type for Direct Events
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/tests/lo/test_lo_l1b.py
Labels: Ins: Lo, Level: L1

#1610 MAG L1C updates for i-alirt
  imap_processing/mag/l1b/mag_l1b.py
Labels: Ins: MAG

#1612 Lo L1B - Convert TOF Data Numbers to Engineering Units
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/lo/l1b/tof_conversions.py
  imap_processing/tests/lo/test_lo_l1b.py
Labels: Ins: Lo, Level: L1

#1615 Lo L1B - Species Identification and Badtimes Initialization
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/tests/lo/test_lo_l1b.py
Labels: Ins: Lo, Level: L1

#1617 Moved and updated naming conventions
  docs/source/data-access/index.rst
  docs/source/data-access/naming-conventions.rst
  docs/source/development/style-guide/git-and-github-workflow.rst
  docs/source/development/style-guide/style-guide.rst
Labels: Repo: Documentation

#1603 L2a processing updates
  imap_processing/idex/idex_l2a.py
  imap_processing/tests/idex/test_idex_l2a.py
Labels: Ins: IDEX, Level: L2

#1618 Docs Update For Ingestion Params
  docs/source/data-access/index.rst
  docs/source/data-access/openapi.yml
Labels: Repo: Documentation

#1596 ENA Maps: Convert HealpixSkyMap to RectangularSkyMap
  imap_processing/ena_maps/ena_maps.py
  imap_processing/tests/ena_maps/test_ena_maps.py
Labels: Ins: Ultra, Mapper Tools

#1629 Ultra l1a - added depends0 to every attribute
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/ena_maps/ena_maps.py
Labels: bug, Ins: Ultra, Level: L0

#1623 ENA - dps frame code updated to include universal pointing table
  imap_processing/spice/kernels.py
  imap_processing/spice/pointing_frame.py
  imap_processing/tests/spice/test_kernels.py
  imap_processing/tests/spice/test_pointing_frame.py
Labels: Ins: Hi, Ins: Lo, Ins: Ultra, SPICE

#1616 Mag L2 Calibration and offsets
  imap_processing/cli.py
  imap_processing/mag/imap_mag_sdc-configuration_v001.yaml
  imap_processing/mag/imap_mag_sdc_configuration_v001.py
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/mag/l1c/mag_l1c.py
  imap_processing/mag/l2/mag_l2.py
  imap_processing/mag/l2/mag_l2_data.py
  imap_processing/tests/mag/conftest.py
  imap_processing/tests/mag/test_mag_l1c.py
  imap_processing/tests/mag/test_mag_l2.py
  imap_processing/tests/mag/validation/calibration/imap_mag_l2-calibration-matrices_20251017_v004.cdf
  imap_processing/tests/mag/validation/calibration/imap_mag_l2-offsets_20251017_v001.cdf
Labels: Ins: MAG, Level: L2

#1632 Ultra - cdf attribute update
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/ultra/l1a/ultra_l1a.py
Labels: Ins: Ultra, Level: L1

#1595 CoDICE L1a lo-pha (direct events) implementation
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/data/validation/imap_codice_l1a_hi-pha_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-pha_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1619 HIT L2 - add algorithm for sectored intensity
  imap_processing/cdf/config/imap_hit_global_cdf_attrs.yaml
  imap_processing/hit/ancillary/imap_hit_l1b-to-l2-sector-dt0-factors_20250219_v002.csv
  imap_processing/hit/l0/decom_hit.py
  imap_processing/hit/l2/constants.py
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/test_hit_l2.py
Labels: Ins: HIT, Level: L2

#1637 HIT - Rename uncertainty variables
  imap_processing/hit/hit_utils.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/helpers/l1_validation.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/hit/test_hit_l1b.py
  imap_processing/tests/hit/test_hit_l2.py
  imap_processing/tests/hit/test_hit_utils.py
  imap_processing/tests/hit/validation_data/hit_l1b_standard_sample2_nsrl_v4_3decimals.csv
  imap_processing/tests/hit/validation_data/sci_sample_raw.csv
Labels: Ins: HIT, Level: L1, Level: L2

#1645 Ultra l1c - added fixture for downloading data
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
Labels: Ins: Ultra, Level: L1

#1652 HIT L2 - add total uncertainties
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/test_hit_l2.py
Labels: Ins: HIT, Level: L2

#1585 I-ALiRT - SWE Algorithm Part 2
  imap_processing/ialirt/l0/process_swe.py
  imap_processing/tests/ialirt/unit/test_process_swe.py
Labels: Ins: SWE, I-ALiRT

#1640 Ultra - L1b Cleanup
  imap_processing/cdf/config/imap_ultra_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1c_variable_attrs.yaml
  imap_processing/tests/ultra/unit/test_badtimes.py
  imap_processing/tests/ultra/unit/test_cullingmask.py
  imap_processing/tests/ultra/unit/test_de.py
  imap_processing/tests/ultra/unit/test_decom_apid_896.py
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_culling.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/l0/decom_ultra.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1662 1657 mapping pointingset class should use abstractproperty
  imap_processing/cdf/utils.py
  imap_processing/ena_maps/ena_maps.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  imap_processing/ultra/l2/ultra_l2.py
Labels: Level: L2, Mapper Tools

#1653 Ultra l1c pset helio
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
Labels: Ins: Ultra, Level: L1

#1663 CoDICE: Initial L1b pipeline
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1b_variable_attrs.yaml
  imap_processing/codice/codice_l1b.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/conftest.py
  imap_processing/tests/codice/test_codice_l1b.py
Labels: Ins: CoDICE, Level: L1

#1661 I-ALiRT - MAG l1b equivalent
  imap_processing/ialirt/l0/parse_mag.py
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/ialirt/unit/test_parse_mag.py
Labels: Ins: MAG, I-ALiRT

#1665 I-ALiRT - SC packet check
  imap_processing/ialirt/packet_definitions/ialirt.xml
  imap_processing/ialirt/packet_definitions/ialirt_codicehi.xml
  imap_processing/ialirt/packet_definitions/ialirt_codicelo.xml
  imap_processing/tests/conftest.py
  imap_processing/tests/ialirt/data/l0/20240827095047_SWE_IALIRT_packet.bin
  imap_processing/tests/ialirt/data/l0/461971383-404.bin
  imap_processing/tests/ialirt/data/l0/461971384-405.bin
  imap_processing/tests/ialirt/data/l0/461971385-406.bin
  imap_processing/tests/ialirt/data/l0/461971386-407.bin
  imap_processing/tests/ialirt/data/l0/461971387-408.bin
  imap_processing/tests/ialirt/data/l0/461971388-409.bin
  imap_processing/tests/ialirt/data/l0/461971389-410.bin
  imap_processing/tests/ialirt/data/l0/461971390-411.bin
  imap_processing/tests/ialirt/data/l0/461971391-412.bin
  imap_processing/tests/ialirt/data/l0/BinLog CCSDS_FRAG_TLM_20240826_152323Z_IALIRT_data_for_SDC.bin
  imap_processing/tests/ialirt/data/l0/IALiRT Raw Packet Telemetry.txt
  imap_processing/tests/ialirt/data/l0/apid01152.tlm
  imap_processing/tests/ialirt/data/l0/eu_SWP_IAL_20240826_152033.csv
  imap_processing/tests/ialirt/data/l0/hi_fsw_view_1_ccsds.bin
  imap_processing/tests/ialirt/data/l0/hit_ialirt_sample.ccsds
  imap_processing/tests/ialirt/data/l0/hit_ialirt_sample.csv
  imap_processing/tests/ialirt/data/l0/idle_export_eu.SWE_IALIRT_20240827_093852.csv
  imap_processing/tests/ialirt/data/l0/imap_codice_l1a_hi-ialirt_20240523200000_v0.0.0.cdf
  imap_processing/tests/ialirt/data/l0/imap_codice_l1a_lo-ialirt_20241110193700_v0.0.0.cdf
  imap_processing/tests/ialirt/data/l0/sample_decoded_i-alirt_data.csv
  imap_processing/tests/ialirt/unit/test_decom_ialirt.py
  imap_processing/tests/ialirt/unit/test_parse_mag.py
  imap_processing/tests/ialirt/unit/test_process_codicehi.py
  imap_processing/tests/ialirt/unit/test_process_codicelo.py
  imap_processing/tests/ialirt/unit/test_process_hit.py
  imap_processing/tests/ialirt/unit/test_process_swapi.py
  imap_processing/tests/ialirt/unit/test_process_swe.py
Labels: I-ALiRT

#1654 1590 hi l2 pointing set class
  imap_processing/ena_maps/ena_maps.py
  imap_processing/tests/conftest.py
  imap_processing/tests/ena_maps/test_ena_maps.py
Labels: Ins: Hi, Level: L2
