Repository IMAP-Science-Operations-Center/imap_processing, pull requests merged in 2025-03, with the labels that each got.

#1390 Ultra l1a - Add unique id
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_de.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
Labels: Ins: Ultra, Level: L1

#1388 SWE: adding back in SWE non-science APID to processing pipeline
  imap_processing/swe/packet_definitions/swe_packet_definition.xml
  imap_processing/swe/utils/swe_utils.py
  imap_processing/tests/swe/l0_data/2024051010_SWE_HK_packet.bin
  imap_processing/tests/swe/l0_data/2024051011_SWE_CEM_RAW_packet.bin
  imap_processing/tests/swe/l0_validation_data/idle_export_eu.SWE_APP_HK_20240510_092742.csv
  imap_processing/tests/swe/l0_validation_data/idle_export_eu.SWE_CEM_RAW_20240510_092742.csv
  imap_processing/tests/swe/test_swe_l1a_cem_raw.py
  imap_processing/tests/swe/test_swe_l1a_hk.py
Labels: Ins: SWE

#1405 Ultra l1b - phi theta corrections
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/tests/ultra/test_data/l0/ultra45_raw_sc_ultrarawimg_withFSWcalcs_FM45_40P_Phi28p5_BeamCal_LinearScan_phi2850_theta-000_20240207T102740.csv
  imap_processing/tests/ultra/unit/test_de.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_extended.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/ultra_l1b_extended.py
Labels: Ins: Ultra, Level: L1

#1415 Add repoint module, test coverage, and general conftest fixture for g…
  imap_processing/spice/repoint.py
  imap_processing/tests/conftest.py
  imap_processing/tests/spice/test_data/fake_repoint_data.csv
  imap_processing/tests/spice/test_repoint.py
Labels: SPICE

#1404 1402 hi l1c pset get de clock ticks for esa step
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/hi/test_hi_l1c.py
Labels: Ins: Hi

#1420 1416 hi l1a decom diag fee packets
  docs/source/code-documentation/hi.rst
  imap_processing/cdf/config/imap_hi_global_cdf_attrs.yaml
  imap_processing/hi/l1a/hi_l1a.py
  imap_processing/hi/l1a/histogram.py
  imap_processing/hi/l1a/housekeeping.py
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/hi/utils.py
  imap_processing/tests/hi/data/l0/H45_diag_fee_20250208.bin
  imap_processing/tests/hi/data/l0/H45_diag_fee_20250208_verify.csv
  imap_processing/tests/hi/test_l1a.py
Labels: Ins: Hi

#1422 TST: Remove unused test files
  imap_processing/tests/hit/PREFLIGHT_raw_record_2023_256_15_59_04_apid1251.pkts
  imap_processing/tests/hit/PREFLIGHT_raw_record_2023_256_15_59_04_apid1252.pkts
Labels: Ins: HIT, Level: L0, Repo: Testing

#1396 Implement "Pull" Index matching method and value binning/projection; Convert TT -> TDB
  imap_processing/ena_maps/ena_maps.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  imap_processing/tests/ultra/test_data/mock_data.py
Labels: Ins: Ultra, Mapper Tools

#1409 ENH: XTCE: Add support for segmented polynomials
  imap_processing/ccsds/excel_to_xtce.py
  imap_processing/hit/packet_definitions/hit_packet_definitions.xml
  imap_processing/tests/ccsds/test_data/expected_output.xml
  imap_processing/tests/ccsds/test_excel_to_xtce.py
Labels: Ins: HIT, packet parsing

#1408 Add auto generation of calibration product integer values column from…
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/hi/utils.py
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/hi/test_hi_l1c.py
  imap_processing/tests/hi/test_utils.py
Labels: Ins: Hi

#1425 MNT: Remove pyyaml from our direct dependencies
  poetry.lock
  pyproject.toml
Labels: Repo: Release

#1430 SWE: Add CDF attrs for non-science apid
  imap_processing/cdf/config/imap_swe_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_swe_l1a_variable_attrs.yaml
  imap_processing/swe/l1a/swe_l1a.py
  imap_processing/tests/swe/test_swe_l1a.py
Labels: Ins: SWE, CDF

#1411 Mag cdf metadata from instrument team
  imap_processing/cdf/config/imap_mag_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_mag_l1_variable_attrs.yaml
  imap_processing/cdf/config/imap_mag_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_mag_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_mag_l1c_variable_attrs.yaml
  imap_processing/mag/l0/decom_mag.py
  imap_processing/mag/l1a/mag_l1a.py
  imap_processing/mag/l1a/mag_l1a_data.py
  imap_processing/mag/l1b/mag_l1b.py
  imap_processing/tests/mag/test_mag_decom.py
  imap_processing/tests/mag/test_mag_l1a.py
  imap_processing/tests/mag/test_mag_l1b.py
  imap_processing/tests/mag/test_mag_validation.py
Labels: Ins: MAG, CDF

#1434 XTCE - Strip spaces from strings
  imap_processing/ccsds/excel_to_xtce.py
  imap_processing/tests/ccsds/test_excel_to_xtce.py
Labels: Level: L0

#1424 1151 hi l1c exposure times
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/hi/utils.py
  imap_processing/tests/conftest.py
  imap_processing/tests/hi/data/l1/imap_hi_l1b_45sensor-de_20250415_v999.cdf
  imap_processing/tests/hi/test_hi_l1c.py
Labels: Ins: Hi

#1429 add segmented polynomial handling to convert_raw_to_eu()
  imap_processing/idex/idex_l1b.py
  imap_processing/idex/idex_variable_unpacking_and_eu_conversion.csv
  imap_processing/tests/idex/test_idex_l1b.py
  imap_processing/tests/test_utils.py
  imap_processing/utils.py
Labels: Ins: IDEX, packet parsing

#1432 SWE: Added acq_duration in L1B and L2 for L3 purposes
  imap_processing/cdf/config/imap_swe_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_swe_l2_variable_attrs.yaml
  imap_processing/swe/l1b/swe_l1b_science.py
  imap_processing/swe/l2/swe_l2.py
Labels: Ins: SWE

#1438 Changes to rename hi l1b delta_t variables to tof
  imap_processing/cdf/config/imap_hi_variable_attrs.yaml
  imap_processing/hi/l1b/hi_l1b.py
  imap_processing/tests/hi/test_hi_l1b.py
  imap_processing/tests/hi/test_utils.py
Labels: Ins: Hi, CDF

#1382 IDEX l2a processing
  .github/workflows/test.yml
  docs/source/code-documentation/idex.rst
  docs/source/conf.py
  imap_processing/cdf/config/imap_idex_global_cdf_attrs.yaml
  imap_processing/idex/atomic_masses.csv
  imap_processing/idex/idex_constants.py
  imap_processing/idex/idex_l1a.py
  imap_processing/idex/idex_l1b.py
  imap_processing/idex/idex_l2a.py
  imap_processing/tests/idex/test_idex_l1a.py
  imap_processing/tests/idex/test_idex_l1b.py
  imap_processing/tests/idex/test_idex_l2a.py
  poetry.lock
  pyproject.toml
Labels: Ins: IDEX, Level: L2

#1444 HIT L1B: add check for housekeeping apid
  imap_processing/hit/l1b/hit_l1b.py
Labels: Ins: HIT, Level: L1

#1412 Ultra l1b aux quality flags
  imap_processing/quality_flags.py
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_ultra_l1b_culling.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1b/ultra_l1b.py
  imap_processing/ultra/l1b/ultra_l1b_culling.py
Labels: Ins: Ultra, Level: L1

#1445 SWAPI: Fixing case when there is duplicate value in HK data
  imap_processing/swapi/l1/swapi_l1.py
  imap_processing/tests/swapi/test_swapi_l1.py
Labels: bug, Ins: SWAPI

#1446 HIT L1B: Fix key error
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/tests/hit/test_hit_l1b.py
Labels: bug, Ins: HIT, Level: L1

#1423 Healpix Sky Maps
  imap_processing/ena_maps/ena_maps.py
  imap_processing/ena_maps/utils/map_utils.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  poetry.lock
  pyproject.toml
Labels: Ins: Ultra, Mapper Tools, Healpix

#1439 Ultra l1b - remove aux dependency
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_badtimes.py
  imap_processing/tests/ultra/unit/test_cullingmask.py
  imap_processing/tests/ultra/unit/test_de.py
  imap_processing/tests/ultra/unit/test_ultra_l1a.py
  imap_processing/tests/ultra/unit/test_ultra_l1b.py
  imap_processing/ultra/l1a/ultra_l1a.py
  imap_processing/ultra/l1b/extendedspin.py
  imap_processing/ultra/l1b/ultra_l1b.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1406 I-ALiRT - decom mag
  imap_processing/ialirt/l0/mag_l0_ialirt_data.py
  imap_processing/ialirt/l0/parse_mag.py
  imap_processing/ialirt/packet_definitions/ialirt.xml
  imap_processing/ialirt/packet_definitions/ialirt_mag.xml
  imap_processing/ialirt/utils/grouping.py
  imap_processing/ialirt/utils/time.py
  imap_processing/tests/ialirt/test_data/l0/461971383-404.bin
  imap_processing/tests/ialirt/test_data/l0/461971384-405.bin
  imap_processing/tests/ialirt/test_data/l0/461971385-406.bin
  imap_processing/tests/ialirt/test_data/l0/461971386-407.bin
  imap_processing/tests/ialirt/test_data/l0/461971387-408.bin
  imap_processing/tests/ialirt/test_data/l0/461971388-409.bin
  imap_processing/tests/ialirt/test_data/l0/461971389-410.bin
  imap_processing/tests/ialirt/test_data/l0/461971390-411.bin
  imap_processing/tests/ialirt/test_data/l0/461971391-412.bin
  imap_processing/tests/ialirt/test_data/l0/sample_decoded_i-alirt_data.csv
  imap_processing/tests/ialirt/unit/test_grouping.py
  imap_processing/tests/ialirt/unit/test_parse_mag.py
  imap_processing/tests/ialirt/unit/test_time.py
Labels: Ins: MAG, I-ALiRT

#1450 Use degrees internally for ENA Maps
  imap_processing/ena_maps/ena_maps.py
  imap_processing/ena_maps/utils/spatial_utils.py
  imap_processing/spice/geometry.py
  imap_processing/tests/ena_maps/test_ena_maps.py
  imap_processing/tests/ena_maps/test_spatial_utils.py
  imap_processing/tests/spice/test_geometry.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
Labels: Mapper Tools

#1458 Set terminate_on_warning to False for L1 products
  imap_processing/cdf/utils.py
Labels: CDF

#1468 HIT - Update logical sources
  imap_processing/cdf/config/imap_hit_global_cdf_attrs.yaml
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/hit/test_hit_l1b.py
  imap_processing/tests/hit/test_hit_l2.py
Labels: Ins: HIT, CDF

#1462 Ultra l1b - Spacecraft exposure in HEALPIX
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
  imap_processing/ultra/lookup_tables/ultra_90_dps_exposure_compressed.cdf
Labels: Ins: Ultra, Level: L1, Healpix

#1456 CoDICE L1a hi-sectored Validation
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/data/validation/imap_codice_l1a_hi-sectored_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1477 Ultra l1c pset - Structure for Ultra l1c Sensitivity
  imap_processing/tests/conftest.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
Labels: Ins: Ultra, Level: L1

#1452 1150 hi l1c bin l1b counts into pset bins
  imap_processing/hi/l1c/hi_l1c.py
  imap_processing/tests/hi/test_hi_l1c.py
Labels: Ins: Hi

#1465 CoDICE L1a hi-priority implementation
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/conftest.py
  imap_processing/tests/codice/data/validation/imap_codice_l1a_hi-priorities_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1494 Update parsing of DE binary blob to match updated order of DE fields
  imap_processing/hi/l1a/science_direct_event.py
  imap_processing/tests/hi/test_science_direct_event.py
Labels: Ins: Hi

#1493 HIT L0 - Add sectorate angles
  imap_processing/hit/l0/constants.py
  imap_processing/hit/l0/decom_hit.py
  imap_processing/tests/hit/test_decom_hit.py
Labels: Ins: HIT, Level: L0

#1499 Ultra l1a - updates to parsing
  imap_processing/tests/ultra/test_data/l0/FM45_UltraFM45_Functional_2024-01-22T0105_20240122T010548.CCSDS
  imap_processing/tests/ultra/test_data/l0/ultra45_raw_sc_ultraimgrates_20220530_00.csv
  imap_processing/tests/ultra/unit/test_decom_apid_881.py
  imap_processing/ultra/l0/decom_tools.py
Labels: bug, Ins: Ultra, Level: L0

#1466 CoDICE L1a hi-counters-singles validation
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/data/validation/imap_codice_l1a_hi-counters-singles_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1503 HIT L1 - update housekeeping attributes
  imap_processing/cdf/config/imap_hit_l1a_variable_attrs.yaml
  imap_processing/cdf/config/imap_hit_l1b_variable_attrs.yaml
Labels: Ins: HIT, Level: L1, CDF

#1455 Mag L1C first pass
  imap_processing/mag/constants.py
  imap_processing/mag/imap_mag_sdc-configuration_v001.yaml
  imap_processing/mag/l1c/interpolation_methods.py
  imap_processing/mag/l1c/mag_l1c.py
  imap_processing/tests/mag/conftest.py
  imap_processing/tests/mag/test_mag_l1c.py
Labels: Ins: MAG

#1511 Lo - Add SHCOARSE and MET to L1A Direct Events
  imap_processing/cdf/config/imap_lo_l1a_variable_attrs.yaml
  imap_processing/lo/l0/lo_science.py
  imap_processing/lo/l1a/lo_l1a.py
  imap_processing/tests/lo/test_lo_science.py
Labels: Ins: Lo, Level: L1

#1490 HIT L2 - add algorithm for standard intensity
  imap_processing/hit/ancillary/imap_hit_l1b-to-l2-standard-dt0-factors_20250219_v002.csv
  imap_processing/hit/ancillary/imap_hit_l1b-to-l2-standard-dt1-factors-20250219_v002.csv
  imap_processing/hit/ancillary/imap_hit_l1b-to-l2-standard-dt2-factors-20250219_v002.csv
  imap_processing/hit/ancillary/imap_hit_l1b-to-l2-standard-dt3-factors-20250219_v002.csv
  imap_processing/hit/hit_utils.py
  imap_processing/hit/l2/constants.py
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/test_hit_l2.py
  imap_processing/tests/hit/test_hit_utils.py
Labels: Ins: HIT, Level: L2

#1522 Lo - Initialize the L1B DE Processing
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/tests/lo/test_cdfs/imap_lo_l1a_de_20100101_v001.cdf
  imap_processing/tests/lo/test_cdfs/imap_lo_l1a_de_20241022_v002.cdf
  imap_processing/tests/lo/test_cdfs/imap_lo_l1a_spin_20100101_v001.cdf
  imap_processing/tests/lo/test_cdfs/imap_lo_l1a_spin_20241022_v002.cdf
  imap_processing/tests/lo/test_lo_l1b.py
Labels: Ins: Lo, Level: L1

#1479 IDEX L1A CDF Validation
  docs/source/code-documentation/idex.rst
  imap_processing/cdf/config/imap_idex_l1a_variable_attrs.yaml
  imap_processing/idex/decode.py
  imap_processing/idex/idex_l1a.py
  imap_processing/tests/conftest.py
  imap_processing/tests/idex/conftest.py
  imap_processing/tests/idex/test_data/imap_idex_l0_raw_20231214_v001.pkts
  imap_processing/tests/idex/test_data/imap_idex_l0_raw_20231218_v001.pkts
  imap_processing/tests/idex/test_data/impact_14_tof_high_data.txt
  imap_processing/tests/idex/test_idex_l1a.py
  imap_processing/tests/idex/test_idex_l1b.py
  imap_processing/tests/test_utils.py
  poetry.lock
  pyproject.toml
Labels: Ins: IDEX, Req: Data Product Validation

#1467 CoDICE L1a hi-counters-aggregated validation
  imap_processing/cdf/config/imap_codice_l1a_variable_attrs.yaml
  imap_processing/codice/constants.py
  imap_processing/tests/codice/data/validation/imap_codice_l1a_hi-counters-aggregated_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1524 Lo L1B - Average Spin Duration Calculation
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/tests/lo/test_lo_l1b.py
Labels: Ins: Lo, Level: L1

#1527 MNT: Update SWAPI DataLevel metadata
  imap_processing/cdf/config/imap_swapi_global_cdf_attrs.yaml
Labels: Ins: SWAPI

#1526 Update release build to ignore metadata
  .github/workflows/release.yml
Labels: bug, Repo: Release

#1525 ENH: Add spacecraft quaternion processing
  imap_processing/cdf/config/imap_spacecraft_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_spacecraft_variable_attrs.yaml
  imap_processing/spacecraft/packet_definitions/scid_x252.xml
  imap_processing/spacecraft/quaternions.py
  imap_processing/tests/spacecraft/__init__.py
  imap_processing/tests/spacecraft/data/SSR_2024_190_20_08_12_0483851794_2_DA_apid0594_1packet.pkts
  imap_processing/tests/spacecraft/test_quaternions.py
Labels: packet parsing

#1534 HIT L2 - refactor summed intensity processing
  imap_processing/hit/ancillary/imap_hit_l1b-to-l2-standard-dt1-factors_20250219_v002.csv
  imap_processing/hit/ancillary/imap_hit_l1b-to-l2-standard-dt2-factors_20250219_v002.csv
  imap_processing/hit/ancillary/imap_hit_l1b-to-l2-standard-dt3-factors_20250219_v002.csv
  imap_processing/hit/ancillary/imap_hit_l1b-to-l2-summed-dt0-factors_20250219_v002.csv
  imap_processing/hit/l2/constants.py
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/test_hit_l2.py
Labels: Ins: HIT, Level: L2

#1536 MNT: Add test_data directory to gitignore file
  .gitignore
Labels: Repo: Testing

#1488 Codice l1a support variable validation
  imap_processing/codice/codice_l1a.py
  imap_processing/codice/constants.py
  imap_processing/tests/codice/data/validation/imap_codice_l1a_hi-ialirt_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_hi-omni_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_hi-pha_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-ialirt_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/data/validation/imap_codice_l1a_lo-pha_20241110193700_v0.0.0.cdf
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1540 HIT L1A - update sector rates data
  imap_processing/hit/l0/constants.py
  imap_processing/hit/l0/decom_hit.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/tests/hit/helpers/l1_validation.py
  imap_processing/tests/hit/test_hit_l1a.py
Labels: Ins: HIT, Level: L1

#1535 MNT: Remove Data_level as a field from the CDF variables
  docs/source/external-tools/cdf/cdf_requirements.rst
  imap_processing/cdf/config/imap_codice_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_glows_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_hi_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_hit_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_idex_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_lo_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_mag_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_spacecraft_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_swapi_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_swe_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/swapi/l2/swapi_l2.py
  imap_processing/tests/cdf/test_data/imap_instrument2_global_cdf_attrs.yaml
  imap_processing/tests/hit/test_hit_utils.py
  imap_processing/tests/mag/test_mag_l1b.py
  imap_processing/tests/mag/test_mag_l1c.py
  imap_processing/tests/spacecraft/test_quaternions.py
Labels: CDF

#1486 Ultra l1c - Basic spacecraft pset data
  docs/source/code-documentation/ultra.rst
  imap_processing/cdf/config/imap_ultra_global_cdf_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1b_variable_attrs.yaml
  imap_processing/cdf/config/imap_ultra_l1c_variable_attrs.yaml
  imap_processing/tests/conftest.py
  imap_processing/tests/ena_maps/conftest.py
  imap_processing/tests/ultra/data/l0/FM45_40P_Phi28p5_BeamCal_LinearScan_phi28.50_theta-0.00_20240207T102740.CCSDS
  imap_processing/tests/ultra/data/l0/FM45_7P_Phi0.0_BeamCal_LinearScan_phi0.04_theta-0.01_20230821T121304.CCSDS
  imap_processing/tests/ultra/data/l0/FM45_TV_Cycle6_Hot_Ops_Front212_20240124T063837.CCSDS
  imap_processing/tests/ultra/data/l0/FM45_UltraFM45_Functional_2024-01-22T0105_20240122T010548.CCSDS
  imap_processing/tests/ultra/data/l0/Ultra45_EM_SwRI_Cal_Run7_ThetaScan_20220530T225054.CCSDS
  imap_processing/tests/ultra/data/l0/ultra45_raw_sc_auxdata_Ultra45_EM_SwRI_Cal_Run7_ThetaScan_20220530T225054.csv
  imap_processing/tests/ultra/data/l0/ultra45_raw_sc_enaphxtofhangimg_FM45_TV_Cycle6_Hot_Ops_Front212_20240124T063837.csv
  imap_processing/tests/ultra/data/l0/ultra45_raw_sc_ultraimgrates_20220530_00.csv
  imap_processing/tests/ultra/data/l0/ultra45_raw_sc_ultraimgrates_Ultra45_EM_SwRI_Cal_Run7_ThetaScan_20220530T225054.csv
  imap_processing/tests/ultra/data/l0/ultra45_raw_sc_ultrarawimg_withFSWcalcs_FM45_40P_Phi28p5_BeamCal_LinearScan_phi2850_theta-000_20240207T102740.csv
  imap_processing/tests/ultra/data/l0/ultra45_raw_sc_ultrarawimgevent_FM45_7P_Phi00_BeamCal_LinearScan_phi004_theta-001_20230821T121304.csv
  imap_processing/tests/ultra/data/l1/dps_exposure_helio_45_E1.cdf
  imap_processing/tests/ultra/data/l1/dps_exposure_helio_45_E12.cdf
  imap_processing/tests/ultra/data/l1/dps_exposure_helio_45_E24.cdf
  imap_processing/tests/ultra/data/mock_data.py
  imap_processing/tests/ultra/unit/conftest.py
  imap_processing/tests/ultra/unit/test_decom_apid_881.py
  imap_processing/tests/ultra/unit/test_spacecraft_pset.py
  imap_processing/tests/ultra/unit/test_ultra_l1c_pset_bins.py
  imap_processing/ultra/l1b/de.py
  imap_processing/ultra/l1c/pset.py
  imap_processing/ultra/l1c/spacecraft_pset.py
  imap_processing/ultra/l1c/ultra_l1c.py
  imap_processing/ultra/l1c/ultra_l1c_pset_bins.py
  imap_processing/ultra/utils/ultra_l1_utils.py
Labels: Ins: Ultra, Level: L1

#1544 CoDICE L1a lo-counters-aggregated Validation
  imap_processing/codice/codice_l1a.py
  imap_processing/tests/codice/test_codice_l1a.py
Labels: Ins: CoDICE, Level: L1

#1538 Lo L1B - Create Lo Spin Bin Direct Event Field
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/tests/lo/test_lo_l1b.py
Labels: Ins: Lo, Level: L1

#1451 I-ALiRT - SWE Algorithm Part 1
  imap_processing/ialirt/l0/process_swe.py
  imap_processing/tests/ialirt/unit/test_process_swe.py
Labels: Ins: SWE, I-ALiRT

#1546 Lo L1B - Add spin cycle to direct events
  imap_processing/lo/l1b/lo_l1b.py
  imap_processing/tests/lo/test_lo_l1b.py
Labels: Ins: Lo, Level: L1

#1554 HIT - Refactor processing to use functions in hit utils
  imap_processing/hit/hit_utils.py
  imap_processing/hit/l1a/hit_l1a.py
  imap_processing/hit/l1b/constants.py
  imap_processing/hit/l1b/hit_l1b.py
  imap_processing/hit/l2/hit_l2.py
  imap_processing/tests/hit/test_hit_l1a.py
  imap_processing/tests/hit/test_hit_l1b.py
  imap_processing/tests/hit/test_hit_l2.py
  imap_processing/tests/hit/test_hit_utils.py
Labels: Ins: HIT, Level: L1, Level: L2

#1500 Update pointing table to include subsecond fields
  imap_processing/spice/repoint.py
  imap_processing/tests/conftest.py
  imap_processing/tests/spice/test_data/fake_repoint_data.csv
  imap_processing/tests/spice/test_repoint.py
Labels: SPICE
